
/* Aurthor: Hardeep Singh */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL */
::-moz-selection { color: #f1f1f1;background: #f0394d; }
::selection { color: #f1f1f1;background: #f0394d; }



body  {font-family: 'Poppins', sans-serif;background: #000;}
.wrapper {width: 400px;margin: 0 auto;height: 800px;background: #efed28;}
.topHeader {background: #1e1c26;color: #fff;padding: 40px 40px 76px 40px;}
.topHeader div {}
.topHeader .firstName {font-size: 38px;line-height: 30px;}
.topHeader .lastName {font-size: 27px;}
.topHeader .designation 
{
    font-size: 17px;
/*color: #c8c8c8;*/
    
}

.abtSec {background: #efed28;padding: 40px 40px 0 40px;border-radius: 36px 36px 0 0;margin: -36px 0 0 0;}
.abtSec .userImg {text-align: right;margin: -92px 0 0 0;}
.abtSec .userImg img {width: 100px;}
.abtSec h1 {
    /*color: #1e1c26;*/
    text-transform: uppercase;font-size: 14px;font-weight: 700;}
.abtSec .content {
    /*color: #919000;*/
       font-size: 13px;}


.infoSection {  padding: 0 40px;}
.infoSection h2 {
    /*color: #1e1c26;*/
text-transform: uppercase;font-size: 14px;font-weight: 700;margin: 0 0 15px 0;}
.infoSection ul {}
.infoSection ul li {margin: 10px 0;}
.infoSection ul li .contactIcon {float: left;width: 35px;height: 36px;background: #fffd3e;text-align: center;border-radius: 50px;margin: 0 10px 0 0;}
.infoSection ul li .contactIcon i {font-size: 36px;}
.infoSection ul li .contactIcon i.messageIcon {font-size: 24px;line-height: 33px;}
.infoSection ul li .contactInfo {float: left;width: 81%;}
.infoSection ul li .contactInfo h6 {margin: 0 0 4px 0;
              /*color: #919000;*/
              font-weight: 700;font-size: 14px;}
.infoSection ul li .contactInfo p {font-weight: 700;font-size: 16px;margin: 0;}
.infoSection ul li .contactInfo p a {
    /*color: #1e1c26;*/
    
}

.searchMe {padding: 0 40px;}
.searchMe h2 {
    /*color: #1e1c26;*/
    text-transform: uppercase;font-size: 14px;font-weight: 700;margin: 0 0 15px 0;}

.socialMedia {overflow: auto;white-space: nowrap;margin: 0 0 10px 0;}
.socialMedia li {margin: 5px;  background: #1e1c26;border-radius: 8px;}
.socialMedia li .fa {font-size: 30px;text-align: center;text-decoration: none;width: 50px;height: 50px;line-height: 50px;
    /*color: #c8c8c8;*/
    
}
.socialMedia li .fa:hover {opacity: 0.7;}

.footer {padding: 0 40px;} 
.footer .webLink {text-align: center;font-size: 14px;font-weight: 600;margin: 0 0 5px 0;}
.footer .webLink a {
    /*color: #1e1c26;*/
    
}
.footer .nameUser {
    /*color: #b9b711;*/
    text-align: center;font-size: 13px;letter-spacing: 7px;}



/* Media Queries */

@media (min-width: 992px) and (max-width: 1199px) {


}

@media (min-width: 768px) and (max-width: 991px) {



}



@media (min-width: 480px) and (max-width: 767px) {
.footer .webLink, .footer .nameUser {text-align: left;}

}





@media (min-width: 150px) and (max-width: 479px) {


}