
/* Aurthor: Hardeep Singh */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
       url('../fonts/oswald-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}


/* GLOBAL */
::-moz-selection { color: #fff;background: #f9004d; }
::selection { color: #fff;background: #f9004d; }
.text-red {color: #f9004d !important;}
.modal-backdrop.show {opacity: 0.8;}
a,a:hover,a:visited{text-decoration:none !important;color:inherit;display:inline-block;cursor:pointer;}
a:focus{color:inherit;outline:none;}

/*Buttons*/
a.btnCustomStyle2, button.btnCustomStyle2 {color: #c6c9d8;font-size: 14px;text-transform: uppercase;letter-spacing: 2px;border: 2px solid #b1b4c1;padding:12px 30px;border-radius: 6px;display: inline-block;font-weight: 500;-webkit-transition: .3s;transition: .3s;}
a.btnCustomStyle2.btn-solid, button.btnCustomStyle2.btn-solid {border: 2px solid #f9004d;background: #f9004d;color: #fff;}
a.btnCustomStyle2:hover, button.btnCustomStyle2:hover {background: transparent;color: #f9004d;box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);-webkit-transform: translateY(-5px);transform: translateY(-5px);}






body{font-family: 'Poppins', sans-serif;color: #1d2228;}

.top-bar {background: #1d1111;padding: 7px 0; color: #fff;font-size: 14px;}
.top-bar .contact-info-con {font-size: 13px;font-weight: 300;}
.top-bar .social-part {overflow: hidden;text-align: right;margin: 0;}
.top-bar .social-part li {    margin: 0 0 0 15px;display: inline;}
.top-bar .social-part li a {}
.top-bar .social-part li a i {}

.wsmenu-list>li.loginSign {float: right;}
.wsmenu-list>li.loginSign ul {overflow: hidden;margin: 3px 0 0 0;padding: 0 15px 0 0;}
.wsmenu-list>li.loginSign ul li {display: inline-block;    float: left;}
.wsmenu-list>li.loginSign ul li a {  padding: 6px 18px;text-transform: capitalize;background: #f9004d;font-size: 12px;}
.wsmenu-list>li.loginSign ul li a:hover {transform: translateY(0);background: transparent;}
.wsmenu-list>li.loginSign ul li a i {margin: 0 5px 0 0;}
.customSlide {position: relative;}
.custom-select {position: relative;border: 0;padding: 0;}
.custom-select select {display: none;}
.select-selected {background-color: #e8eef4;}
.select-selected:after {position: absolute;content: "";top: 18px;right: 10px;width: 0;height: 0;border: 6px solid transparent;border-color: #a3aec2 transparent transparent transparent;}
.select-selected.select-arrow-active:after {border-color: transparent transparent #a3aec2 transparent;top: 10px;}
.select-items div,.select-selected {color: #a3aec2;padding: 8px 16px;border: 0;cursor: pointer;user-select: none;}
.select-items {border: 1px solid #e8eef4;position: absolute;background-color: #fff;top: 100%;left: 0;right: 0;z-index: 99;}
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {background-color: #003667;color: #fff;}


#owl-demo .item {position: relative;height: 640px;background: #f9f8fd;}
#owl-demo .item .gpsTop {    font-weight: 800;    font-family: oswald;font-size: 18px;letter-spacing: 3px;padding: 0 0 0 3px;color: #1d2228;}
#owl-demo .item .innerBannerCont {position: absolute;top: 0;width: 100%;margin: 100px 0 70px 0;}
#owl-demo .item .innerBannerCont .gpshead {font-weight: 700;font-size: 49px;color: #1d2228;}
#owl-demo .item .innerBannerCont .gpsCont {     margin: 20px 0 30px 0;font-size: 16px;line-height: 30px;color: #1d2228;font-style: italic;}
#owl-demo .item img{display: block;width: 100%;height: auto;}

.mainCounters { padding: 60px 0;}
.mainCounters .flash_on_boxx {padding: 45px 0;-webkit-box-shadow: 0 0 15px 0 #e1e5eb;box-shadow: 0 0 15px 0 #e1e5eb;border-radius: 10px;    overflow: hidden;margin: -110px 0 0 0;background: #fff;}
.mainCounters .flash_on_boxx h3 {   color: #1d2228;margin: 0 ;font-weight: 800;font-family: oswald;font-size: 18px;letter-spacing: 3px;}

.counter {    margin: 30px 0 0 0;}
.counter .count-number {font-size: 36px;font-weight: 700;    margin: 25px 0 5px 0;}
.counter .count-text  {    margin: 0;}

.PopularCategories {padding: 0 0 60px 0;}
.PopularCategories .heading {font-size: 40px;font-weight: 700;    margin: 0 0 15px 0;}
.PopularCategories .discription {    font-size: 18px;font-weight: 200;width: 700px;margin: 0 auto;}

.tab-slider--nav {width: 100%;margin: 35px 0 20px 0;}
.tab-slider--tabs {display: table;margin: 20px auto 0;padding: 0;list-style: none;position: relative;border-radius: 8px;overflow: hidden;background: #f9f8fd;height: 35px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.tab-slider--trigger.active {color: #fff;background: #f9004d;border-radius: 8px;}
.tab-slider--trigger {font-size: 12px;line-height: 1;font-weight: bold;color: #000;text-transform: uppercase;text-align: center;padding: 11px 20px;position: relative;z-index: 2;cursor: pointer;display: inline-block;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.view-more-btn {    margin: 50px 0 0 0;}
.popular {background: #f9f8fd;padding: 60px 0;}
.popular .sideImg {    margin: 75px 0 0 0;padding: 0 30px 0 0;}
.popular h2 {font-size: 40px;font-weight: 700;color: #1d1111;}
.border-sm-left {position: relative;border-left: 1px solid #f9004d;margin-left: 2.5rem !important;padding-left: 1.875rem !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.border-sm-left::before {position: absolute;content: '';opacity: .9;top: 0;right: auto;bottom: auto;left: 0;width: 1px;height: 100%;}
.innerMillion h4 {color: #1d2228;color: #1d2228;margin: 35px 0 0 0;font-weight: 800;font-family: oswald;font-size: 18px;letter-spacing: 3px;text-align: center;}
#news-slider2.owl-theme .owl-controls .owl-pagination {text-align: center;position: absolute;bottom: 0;width: 100%;}
.StepsBox {padding: 60px 0;}
.StepsBox .heading {font-size: 40px;font-weight: 700;margin: 0 0 50px 0;}

.about-text {margin-top: 30px;}
.about-text ul {display: flex;}
.about-text ul li {}
.about-text ul li:nth-child(1) {}
.about-text ul li:nth-child(2) {padding: 0 0 0 25px;}
.about-text ul li span{width: 50px;height: 50px;line-height: 50px;font-size: 24px;font-weight: 700;text-align: center;background: #f9004d;display: block;color: #fff;border-radius: 50px;box-shadow: 0 7px 15px 1px rgb(245 188 205);}
.about-text ul li h2 {font-size: 24px;font-weight: 700;margin:10px 0px 20px 0px;color: #1d2228;}
.about-text ul li p {font-size: 18px;font-weight: 200;line-height: 30px;}
.height-70 {height: 70px;}
.pattern-bg-light {background-repeat: repeat;background-color: #212121;}
.white-color {color: #fff !important;}
.section-heading {text-align: center;margin: auto;float: none;padding-bottom: 20px;}

.portfolio-style--3 {position: relative;margin-top: 30px;overflow: hidden;border-radius: 10px;}
.portfolio-style--3 .topLikeandview {position: absolute;z-index: 5;color: #d6d6d6;font-size: 12px;width: 100%;padding: 10px 20px;text-align: right;}
.portfolio-style--3 .topLikeandview ul {margin: 0;}
.portfolio-style--3 .topLikeandview ul li {display: inline-block;margin: 0 0 0 10px;}
.portfolio-style--3 .topLikeandview ul li a {margin: 0 3px 0 0;}
.portfolio-style--3 .topLikeandview ul li a i {}
.portfolio-style--3 .topLikeandview ul li span {}

.portfolio-style--3 .thumbnail a {display: block;position: relative;z-index: 1;}
.portfolio-style--3 .thumbnail a:after {-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.thumbnail img {border-radius: 5px;box-shadow: 0 25px 65px rgba(0,0,0,.1);-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);max-width: 100%;}
.portfolio-style--3 .content {position: absolute;bottom: -92px;width: 100%;padding: 50px 35px;z-index: 3;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content:before {position: absolute;content: "";background: -webkit-gradient(linear,left top,left bottom,color-stop(0,transparent),color-stop(70%,#000));background: -webkit-linear-gradient(top,transparent,#000 70%);background: linear-gradient(180deg,transparent 0,#000 70%);left: 0;top: 0;width: 100%;height: 100%;opacity: 1;z-index: -1;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content p.portfoliotype {font-size: 14px;margin-bottom: 5px;color: #c6c9d8;line-height: 30px;}
.portfolio-style--3 .content h4.title {margin-bottom: 0;font-weight: 600;font-size: 20px;line-height: 1.4074;}
.portfolio-style--3 .content h4.title a {color: #fff;font-size: 24px;font-weight: 500;line-height: 36px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content h4.title a span {    margin: 0 5px 0 0;}
.portfolio-style--3 .content h4.title a span img {margin: -2px 0 0 0px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 35px;-webkit-transition: .7s;transition: .7s;opacity: 0;visibility: hidden;}

a.rn-btn {text-align: center;padding: 0 10px;width: 130px;height: 40px;display: inline-block;line-height: 34px;border: 2px solid #f9004d;border-radius: 4px;font-size: 14px;position: relative;z-index: 2;color: #f9004d;letter-spacing: .2px;text-transform: uppercase;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
a.rn-btn:hover {border: 2px solid #f9004d;-webkit-transform: translateY(-3px);transform: translateY(-3px);color: #fff;background: #f9004d;}

.portfolio-style--3:hover .thumbnail a img {-webkit-transform: scale(1.1);transform: scale(1.1);}
.portfolio-style--3:hover .thumbnail a:after {opacity: .85;top: 0;}
.portfolio-style--3 .thumbnail a:after {background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fc004d),to(#000));background: -webkit-linear-gradient(top,#fc004d,#000);background: linear-gradient(180deg,#fc004d 0,#000);position: absolute;left: 0;right: 0;width: 100%;height: 100%;content: "";z-index: 1;opacity: 0;}
.portfolio-style--3:hover .content {bottom: 0;}
.portfolio-style--3:hover .content:before {opacity: 0;}
.portfolio-style--3:hover .content .portfolio-btn {opacity: 1;visibility: visible;}

.newFeature {padding: 60px 0px;background: #f9f8fd;}
.newFeature .heading {font-size: 40px;font-weight: 700;margin: 0 0 15px 0;}
.newFeature .discription {font-size: 18px;font-weight: 200;width: 700px;margin: 0 auto 50px;}
.newFeature .features-left {text-align: right;}
.newFeature .features-left .features {margin-top: 40px;margin-bottom: 60px;}
.newFeature .features-left .features .icon-container {display: block;margin-top: 5px;min-height: 130px;float: right;margin-left: 20px;}
.newFeature .features-left .features .icon-container .icon {background-clip: padding-box;border-radius: 100px;font-size: 24px;height: 65px;line-height: 65px;text-align: center;transition: all 0.25s ease-in 0s;width: 65px;background: #f9004d;color: #ffffff;box-shadow: 0 15px 15px 1px rgb(245 188 205);}
.newFeature .fetaure-details h3 {font-size: 18px;text-transform: capitalize;font-weight: 700;padding-bottom: 10px;color: #000000;}
.newFeature .fetaure-details p {line-height: 23px;color: #333333;}
.newFeature .feature-phone-image {margin: 40px auto 0;max-width: 250px;}
.newFeature .features-right {text-align: left;}
.newFeature .features-right .features {margin-top: 40px;margin-bottom: 60px;}
.newFeature .features-right .features .icon-container {display: block;margin-top: 5px;min-height: 130px;float: left;margin-right: 20px;}
.newFeature .features-right .features .icon-container .icon {background-clip: padding-box;border-radius: 100px;font-size: 24px;height: 65px;line-height: 65px;text-align: center;transition: all 0.25s ease-in 0s;width: 65px;background: #f9004d;color: #ffffff;box-shadow: 0 15px 15px 1px rgb(245 188 205);}


/*footer*/
.footerBox {background: #f9f8fd;}
.footerLeft, .footer-wrapper {position: relative;}
.row--0 {margin-left: 0;margin-right: 0;}
.row--0>[class*=col] {padding-left: 0;padding-right: 0;}
.footerLeft {background: -webkit-linear-gradient(305deg,#f81f01,#ee076e);background: linear-gradient(145deg,#f81f01,#ee076e);padding: 65px 100px;z-index: 2;margin-right: -15px;border-top-right-radius: 6px;}
.footerLeft:before {position: absolute;width: 100%;height: 100%;left: 0;top: 0;content: "";z-index: 1;opacity: .5;border-top-right-radius: 6px;}
.footerLeft .inner {z-index: 5;position: relative;}
.footerLeft .inner>span {color: #fff;font-size: 15px;text-transform: uppercase;letter-spacing: 4px;display: block;margin-bottom: 9px;}
.footerLeft .inner h2 {color: #fff;font-size: 50px;font-weight: 900;line-height: 65px;}
.footerLeft .inner a.btnCustomStyle2 {margin-top: 30px;border-color: #fff;color: #fff;}
.footerLeft .inner a.btnCustomStyle2:hover {background: #fff;border-color: #fff;color: #f9004d;}
.footerRight {width: 100%;padding: 150px 70px 150px 120px;background-color: #1d2228;}
.footerRight .footerLink h4 {color: #c6c9d8;font-weight: 500;margin-bottom: 30px;opacity: .75;}
.footerRight .footerLink ul.ftLink {padding: 0;margin: 0;list-style: none;}
.footerRight .footerLink ul.ftLink li+li {margin-top: 13px;}
.footerRight .footerLink ul.ftLink li a {color: #c6c9d8;font-size: 16px;opacity: .75;}
.footerRight .footerLink ul.ftLink li a:hover {color: #f9004d;}

.socialShare {padding: 0;margin: 15px -6px -6px -6px;}
.socialShare li {margin: 6px;}
.socialShare li a {border: 0;width: 30px;height: auto;text-align: left;line-height: inherit;font-size: 16px;display: inline-block;color: rgba(198,201,216,.75);border-radius: 100%;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.socialShare li:hover a {background: transparent;box-shadow: none;transform: translateY(-3px);color: #fff;}

.copyright {position: absolute;bottom: -114px;}
.copyright p {color: #c6c9d8;font-size: 14px;opacity: .75;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/

.modal-header.modal-bg .close-btn {position: absolute;top: 20px;right: 20px;}
.close-btn {border: 0;background-color: transparent;padding: 0;width: 30px;height: 30px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;cursor: pointer;outline: none;position: absolute;right: 10px;top: 6px;z-index: 3;}
.close-btn span {position: absolute;width: 2px;height: 15px;display: block;background-color: #a8a8a8;opacity: 0.6;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.close-btn span:nth-child(2) {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.close-btn:hover span {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.close-btn:hover span:nth-child(2) {-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);}

#loginSignup {}
#loginSignup .modal-content {       border: 0;    border-radius: 10px;}
#loginSignup .modal-content .modal-header {padding: 0;border-bottom: 0;position: relative;}
#loginSignup .content{height: auto;}
#loginSignup .nav-item{width: 50%;}
#loginSignup .nav-pills .nav-link{font-weight: bold;padding: 13px 20px;text-align: left;background: #343436;color: #fff;border-radius: 8px;height: 100px;}
#loginSignup .nav-pills .nav-link.active{background: #fff;font-size: 18px;color: #000;}
#loginSignup .tab-content{position: absolute;width: 100%;height: auto;margin-top: -50px;background: #fff;color: #000;border-radius: 10px;z-index: 1000;box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);padding: 30px;margin-bottom: 50px;}
#loginSignup .tab-content .btnCustomStyle2{width: 100%;}
#loginSignup .nav-pills .nav-link:hover {display: block;}
#loginSignup .signup-form-title {font-size: 28px;font-weight: 700;margin-bottom: 40px;line-height: 1.2;}
#loginSignup .form-group .form-control {    padding: 12px 20px;border: 1px solid #e9edf1;height: 50px;}
#loginSignup .form-group .form-control:focus {    color: #495057;border: 1px solid #a5a5a5;background-color: #fff;outline: 0;box-shadow: none;}
#loginSignup .checkboxes {align-items: center;justify-content: space-between;flex-wrap: wrap;margin: 20px 0 30px;position: relative;}   
#loginSignup .checkboxes .privacy-policy {display: block;position: relative;padding-left: 35px;margin-bottom: 23px;cursor: pointer;margin-bottom: 0;padding-left: 30px;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-size: 16px;font-weight: 500;line-height: 20px;}
#loginSignup .checkboxes input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
#loginSignup .checkboxes .checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;border: 1px solid #ddd;}
#loginSignup .checkboxes input:checked~.checkmark {background-color: #f66b5d;border-color: #f66b5d;}
#loginSignup .checkboxes input:checked~.checkmark:after {display: block;}
#loginSignup .checkboxes .checkmark:after {content: "";position: absolute;display: none;left: 6px;top: 3px;width: 6px;height: 10px;border: solid #fff;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
#loginSignup .checkboxes.d-flex a {font-weight: 500;color: #f9004d; }
.connector {position: relative;margin: 5px 0;}
.connector:before {content: "";position: absolute;background-color: #e9edf1;width: 100%;height: 1px;left: 0;top: 50%;z-index: 1;}
.connector span {display: inline-block;width: 50px;height: 50px;line-height: 50px;text-align: center;border-radius: 50%;font-weight: 500;font-size: 16px;background-color: #fff;z-index: 2;position: relative;}
.signup-form-signin {align-items: center;justify-content: space-between;flex-wrap: wrap;}
.theme-button .icon {position: absolute;top: 51%;right: 24px;font-size: 14px;-webkit-transition: all .3s;transition: all .3s;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.theme-button {font-weight: 500;font-size: 16px;padding-right: 50px;width: 190px;font-weight: 500;border: 1px solid #e9edf1;line-height: 50px;padding: 0 40px 0 30px;background-color: #fff;border-radius: 4px;text-transform: capitalize;-webkit-transition: all .3s;transition: all .3s;position: relative;height: 50px;display: inline-block;}
.theme-button:hover {background-color: #f6f8fb;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP ENDS ********************************************************************/






/*******************************************************  FORM WIZARD STARTS ********************************************************************/
header.border-bottom {border-bottom: 1px solid #f0f1f3!important;}
.backBtn {text-align: center;    margin: 15px 0;}
.backBtn a {padding: 6px 18px;text-transform: capitalize;background: #f9004d;font-size: 12px;}
.mainFormWizard {padding: 30px 0 60px 0;background: #f9f8fd;}
.mainFormWizard .feature-phone-image {      margin: 0 auto 0;
    max-width: 227px;}

.firstColor{}
.firstColor input{ color: #c5c2d0;   outline: none;padding: 12px 20px;border: 1px solid #e9edf1;height: 50px;width: 100%;border-radius: .25rem;}
.fileuploader-input .fileuploader-input-button, .fileuploader-popup .fileuploader-popup-content .fileuploader-popup-button.button-success {background: #9658fe;background: -moz-linear-gradient(135deg, #f71e03 0, #ee076c 100%);background: -webkit-linear-gradient(135deg, #f71e03 0, #ee076c 100%);background: linear-gradient(135deg, #f71e03 0, #ee076c 100%) !important;background-size: 140% auto;background-position: center;color: #fff;box-shadow: 0 4px 18px rgba(0, 0, 0, .08);}
.fileuploader-input .fileuploader-input-caption {color: #c5c2d0 !important;font-weight: 300 !important;}
.fileuploader-input .fileuploader-input-caption {padding: 10px 30px !important;}
.fileuploader-input .fileuploader-input-button {  padding: 11px 22px !important;}

.socialLinksboxx {    margin: 0;}
.socialLinksboxx li {    background: #fafbfd;
padding: 20px 30px;margin: 0 0 15px 0;}
.socialLinksboxx li .titleSocial {font-weight: 700;float: left;}
.socialLinksboxx li .titleSocial i {    width: 30px;
height: 30px;
line-height: 30px;
color: #fff;
background: #c5c2d0;
text-align: center;
border-radius: 50px;
  margin: 0 20px 0 0;}

.socialLinksboxx li .btnLinkright {float: right;}
.socialLinksboxx li .btnLinkright button {    padding: 6px 18px;
    text-transform: capitalize;
    background: #f9004d;
    font-size: 12px;}
.socialLinksboxx li .btnLinkright button:hover{
    color: #fff;
}


.socialLinksboxx li .inputwithSubmit {    float: right;
    width: 275px;
    position: relative;}
.socialLinksboxx li .inputwithSubmit .submitButton {      outline: none;
    background: #fafbfd;
    border: 0;
    font-size: 14px;
    line-height: 30px;
    margin: 0 15px;
    padding: 0;
    color: #f9004d;}
    .socialLinksboxx li .inputwithSubmit input {      width: 170px;
    float: left;
    height: 30px;
    font-size: 12px;}

.socialLinksboxx li .inputwithSubmit input:focus {
    color: #495057;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}





.socialLinksboxx li .inputwithSubmit button {right: 0;
    top: 0;}







.socialLinksboxx li .nameWithCrossbtn {float: right;
    position: relative;
    width: 165px;}
.socialLinksboxx li .nameWithCrossbtn span{    line-height: 30px;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;
    top: 0;}





a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -5px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 0;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 70px 15px 20px;
    background: #c5c2d0;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border-bottom: 0;
    position: relative;
    border-radius: 6px;
}
#accordion .panel-title a.collapsed{ color: #fff; }
#accordion .panel-title a.collapsed:hover{ color: #fff; }
#accordion .panel-title a:before,
#accordion .panel-title a:after{
    content: "";
    width: 3px;
    height: 10px;
    background: #fff;
    font-size: 15px;
    position: absolute;
    top: 20px;
    right: 35px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}
#accordion .panel-title a:after{
    right: 29px;
    transform: rotate(45deg);
}
#accordion .panel-title a.collapsed:before{
    transform: rotate(45deg);
    background: #fff;
}
#accordion .panel-title a.collapsed:after{
    transform: rotate(-45deg);
    background: #fff;
}
#accordion .panel-title a.collapsed:hover:before,
#accordion .panel-title a.collapsed:hover:after{ background: #fff; }
#accordion .panel-body{
        padding: 10px 0 25px 0;
    background: #fff;
    border-top: none;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
}


.uploadBackground {color: #1d2228;}
.uploadBackground label{color: #1d2228;}

.personalBoxxx {}
.personalBoxxx .form-group {}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {
    padding: 12px 20px;
    border: 1px solid #e9edf1;
    height: 50px;
}
.personalBoxxx .form-group textarea {height: auto !important;}

.personalBoxxx .form-group .form-control:focus, .businessInformation .form-group .form-control:focus {
    color: #495057;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}












.upperCircles {    background: #f9f8fd;
    padding: 30px 0 0 0;}


/*progressbar*/
.upperCircles #progressbar {
    /* overflow: hidden; */
    /* counter-reset: step; */
    width: 650px;
    margin: 0 auto;
}
.upperCircles #progressbar li {
list-style-type: none;
color: white;
text-transform: uppercase;
font-size: 10px;
width: 15%;
float: left;
position: relative;
text-align: center;
}
.upperCircles #progressbar li:before {

    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #333;
    background: #fff;
    border-radius: 50px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.upperCircles #progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background: white;
    position: absolute;
    left: -50%;
    top: 18px;
    z-index: -1; /*put it behind the numbers*/
}
.upperCircles #progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.upperCircles #progressbar li.active:before, .upperCircles #progressbar li.active:after {
background: #f9004d;
color: #fff;
}






.progressbar {
    margin-bottom: 25px;
    padding: 0;
    overflow: hidden;
    counter-reset: step;
    width: 650px;
    margin: 0 auto;
}
.progressbar:after {
    content: '';
    /* width: 57%; */
    height: 6px;
    background-color: #c5c2d0;
    position: absolute;
    left: 0;
    right: 0;
    top: 17px;
    width: 650px;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}
.progressbar li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 20%;
    float: left;
    position: relative;
    color: #ffffff;
}
.progressbar li:before {
    position: relative;
    z-index: 2;
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #c5c2d0;
    border-radius: 100px;
    margin: 0 auto;
}
.progressbar li:after {
    content: '';
    width: 100%;
    height: 6px;
    background-color: #c5c2d0;
    position: absolute;
    left: -50%;
    top: 17px;
    z-index: 1;
}
.progressbar li.active:before, .progressbar li.active:after {
  background-color: #f9004d;
    background-size: 200% auto;
    -webkit-animation: effect 1s linear infinite;
    animation: effect 1s linear infinite;
    color:#fff;
}

















.addressBoxxxMain {}
.addressBoxxxMain label {
    color: #1d2228;
}
.addressBoxxxMain ul {    background: #fafbfd;
    border-radius: 6px;
    padding: 16px 20px;}
.addressBoxxxMain ul li {}
.addressBoxxxMain ul li span:nth-child(1){    color: #c5c2d0;
    float: left;
    width: 70%;}
.addressBoxxxMain ul li span:nth-child(2){    float: right;}
.addressBoxxxMain ul li span:nth-child(2) a {
 color: #f9004d;
    font-size: 12px;
    font-weight: 700;
}



.addmainPopup {    padding: 45px;}
.addmainPopup h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 1.2;
}
.addmainPopup .form-group .form-control {
    padding: 12px 20px;
    border: 1px solid #e9edf1;
    height: 50px;
}

.addmainPopup .form-group .form-control:focus {
    color: #495057;
    border: 1px solid #a5a5a5;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}





.addmainPopup .btnCustomStyle2 {
    width: 100%;
}

/*******************************************************  FORM WIZARD ENDS ********************************************************************/


























/* Media Queries */

@media (min-width: 1367px) and (max-width: 1919px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
 
#owl-demo .item .innerBannerCont {margin: 80px 0;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 40px;text-align: left;margin: 0 0 20px 0;line-height: 50px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 18px;}
#owl-demo .item {height: 530px;}
.wsmenu {width: 80% !important;}
.footerLeft .inner h2 {font-size: 42px;line-height: 60px;}

}

@media (min-width: 768px) and (max-width: 991px) {
.smallogo {box-shadow: none !important;}
#owl-demo .item .innerBannerCont {margin: 60px 0 ;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 30px;text-align: left;margin: 0 0 20px 0;line-height: 35px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 16px;padding: 0;line-height: 28px;text-align: left;}
#owl-demo .item {height: 470px;}
.popular .sideImg {display: none;}
.footerLeft {margin-right: 0;}



/*******************************************************  FORM WIZARD STARTS ********************************************************************/

.sf-t3 .sf-nav-number {top: 6px;bottom: 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: auto;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: -15px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: -15px;}

/*******************************************************  FORM WIZARD ENDS ********************************************************************/













}



@media (min-width: 480px) and (max-width: 767px) {
.top-bar .social-part {display: table;margin: 0 auto;}
.top-bar .contact-info-con {text-align: center;}
#owl-demo .item .innerBannerCont {margin: 50px 0 ;}
#owl-demo .item .gpsTop {text-align: center;padding: 0;}
#owl-demo .item .innerBannerCont .contBtn {text-align: center;margin: 0 0 40px 0;bottom: 65px;}
#owl-demo .item img {width: 250px;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 36px;text-align: center;margin: 0 0 20px 0;line-height: 45px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 18px;padding: 0;line-height: 24px;text-align: center;}
.customSlide .owl-theme .owl-controls {right: 10px !important;}
.counter .count-number {font-size: 20px;margin: 15px 0 5px 0;}
.counter .count-text {font-size: 14px;}
.portfolio-style--3 .content {padding: 15px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 35px;}
.portfolio-style--3 .content h4.title a {font-size: 18px;}
.PopularCategories .discription {width: auto;font-size: 14px;}
.popular .sideImg {display: none;}
.popular h2 {text-align: center;font-size: 40px;}
.border-sm-left {position: relative;border-left: 0;text-align: center;margin-left: 0 !important;padding-left: 0 !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.newFeature .discription {width: auto;font-size: 14px;margin: 0 auto;}
.popular .d-sm-flex {display: block !important;}
.tab-slider--body .col-lg-4.col-md-6.col-12 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 100%;}
.footerLeft {margin-right: 0;padding: 40px;}
.footerLeft .inner h2 {font-size: 30px;line-height: 50px;}
.footerRight {padding: 40px;background-color: #00010c;}
.rwd-device{display: none;}
.newFeature .features-left .features, .newFeature .features-right .features {margin-top: 25px;margin-bottom: 30px;}
.newFeature .features-left .features .icon-container, .newFeature .features-right .features .icon-container {min-height: 0;float: none;display: table;margin: 0px auto 25px;}
.fetaure-details {text-align: center;}
.copyright {position: relative;bottom: 0;margin: 45px 0 0 0;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/
#loginSignup {background: #fff;}
#loginSignup .modal-dialog {max-width: 100%;  margin: 0;}
#loginSignup .modal-content {border: 0;width: 100%;border-radius: 0;}
#loginSignup .content {width: 100%;}
#loginSignup .nav-pills {width: auto;}
#loginSignup .tab-content {width: 100%;padding: 30px 20px;border-radius: 35px;margin-bottom: 0;box-shadow: none;}
.theme-button {width: 100%;margin: 0 0 15px 0;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP ENDS ********************************************************************/


/*******************************************************  FORM WIZARD STARTS ********************************************************************/
.upperCircles {background: #f9f8fd;padding: 20px 0;}
.upperCircles .col-md-12 {padding: 0;}
.progressbar, .progressbar:after {width: auto;}
.mainFormWizard {padding: 0 0 60px 0;background: #ffffff;}
.sf-wizard {padding: 25px 0 !important;}
.sf-t3.sf-none .sf-viewport .sf-step, .sf-t3.sf-fade .sf-viewport .sf-step, .sf-t3.sf-slide .sf-viewport .sf-step {padding: 0 0 0 15px !important;}
.mCSB_inside>.mCSB_container {margin-right: 20px !important;}
.dropify-wrapper.touch-fallback .dropify-message {padding: 10px 0 !important;}
.dropify-wrapper .dropify-message p {padding: 0 15px !important;}
.socialLinksboxx li {padding: 15px;}
.socialLinksboxx li .titleSocial i {margin: 0 10px 0 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: 100%;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: 0;top: 30px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;}
#accordion .panel-title a {padding: 15px;font-size: 12px;}
#accordion .panel-title a:before, #accordion .panel-title a:after {width: 1px;top: 17px;right: 24px;}
#accordion .panel-title a:after {right: 18px;transform: rotate(45deg);}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {height: 40px;font-size: 13px;}
.addressBoxxxMain ul li span:nth-child(1) {color: #c5c2d0;float: none;width: auto;display: block;font-size: 13px;margin: 0 0 15px 0;}
.addressBoxxxMain ul li span:nth-child(2) {float: none;display: block;text-align: center;}
/*******************************************************  FORM WIZARD ENDS ********************************************************************/








}





@media (min-width: 150px) and (max-width: 479px) {
.smallogo {box-shadow: none !important;}
.owl-theme .owl-controls .owl-buttons div {display: none !important;}
.top-bar .social-part {display: table;margin: 0 auto;}
.top-bar .contact-info-con {text-align: center;    margin: 0 0 5px 0;}
#owl-demo .item .innerBannerCont {margin: 45px 0 ;position: relative;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 24px;text-align: center;margin: 0 0 5px 0;line-height: 32px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 14px;padding: 0;line-height: 18px;text-align: center;}
.customSlide {background: #f9f8fd;}
.customSlide .owl-theme .owl-controls {text-align: center !important;right: 0 !important;}
#owl-demo .item .gpsTop {text-align: center;padding: 0;}
#owl-demo .item .innerBannerCont .contBtn {text-align: center;margin: 0 0 40px 0;bottom: 65px;}
#owl-demo .item .innerBannerCont .contBtn .btnCustomStyle2 {padding: 8px 18px;}
.mainCounters {padding: 30px 0;}
.mainCounters .flash_on_boxx {padding: 25px 15px;margin: -75px 0 0 0;}
.counter .count-number {font-size: 20px;margin: 15px 0 5px 0;}
.counter .count-text {font-size: 14px;}
.innerMillion h4 {margin: 15px 0 0 0;}
.innerMillion .my-5 {margin: 15px 0 45px 0 !important;}
.innerMillion .my-5 img {width: 100px;}
.PopularCategories .heading {font-size: 24px;}
.PopularCategories .discription {width: auto;font-size: 14px;}
.PopularCategories {padding: 0 0 50px 0;}
.PopularCategories .tab-slider--nav {margin:20px 0 0 0;}
.PopularCategories .tab-slider--tabs {margin: 0 auto;  }
.PopularCategories .tab-slider--trigger {  padding: 11px 15px;}
.portfolio-style--3 { margin-top: 15px;}
.portfolio-style--3 .content h4.title a {font-size: 18px;}
.portfolio-style--3 a.rn-btn {width: auto;}
.portfolio-style--3 .content {padding: 35px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 35px;}
.view-more-btn {margin: 30px 0 0 0;}
.popular {padding: 35px 0;}
.popular .sideImg {display: none;}
.popular h2 {text-align: center;    font-size: 24px;}
.border-sm-left{position: relative;border-left: 0;text-align: center;margin-left: 0 !important;padding-left: 0 !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.StepsBox {padding: 30px 0;}
.height-70 {height: 0;}
.StepsBox .heading {font-size: 24px;margin: 0 0 30px 0;}
.about-text ul li p {font-size: 14px;font-weight: 300;margin: 0;line-height: 24px;}
.newFeature {padding: 30px 0px 0 0px;}
.newFeature .features-left .features, .newFeature .features-right .features {margin-top: 25px;margin-bottom: 30px;}
.newFeature .heading {font-size: 24px;}  
.newFeature .discription {width: auto;font-size: 14px;margin: 0 auto;}
.newFeature .fetaure-details p {line-height: 24px;font-weight: 300;}
.newFeature .feature-phone-image {margin: 0 auto;}
.newFeature .features-left .features .icon-container, .newFeature .features-right .features .icon-container {min-height: 0;float: none;display: table;margin: 0px auto 25px;}
.fetaure-details {text-align: center;}
.footerLeft {padding: 30px;z-index: 2;margin-right: 0;border-top-right-radius: 40px;}
.footerLeft .inner h2 {font-size: 30px;font-weight: 900;line-height: 40px;margin: 0;}
.footerLeft .inner a.btnCustomStyle2 {margin: 15px 0 0 0;}
.footerRight {padding: 30px;}
.footerRight .footerLink h4 {margin: 10px 0 15px 0;}
.copyright {position: relative;bottom: 0;margin: 15px 0 0 0;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/
#loginSignup {background: #fff;}
#loginSignup .modal-dialog {margin: 0;}
#loginSignup .modal-content {border: 0;width: 100%;border-radius: 0;}
#loginSignup .content {width: 100%;}
#loginSignup .nav-pills {width: auto;}
#loginSignup .tab-content {width: 100%;padding: 30px 20px;border-radius: 35px;margin-bottom: 0;box-shadow: none;}
#loginSignup .checkboxes.d-flex a {margin: 15px 0 0 0;}
#loginSignup .theme-button {width: 100%;margin: 0 0 15px 0;}
#loginSignup .checkboxes .privacy-policy, #loginSignup .checkboxes.d-flex a {font-size: 14px !important;width: 100%;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/



/*******************************************************  FORM WIZARD STARTS ********************************************************************/
.upperCircles {background: #f9f8fd;padding: 20px 0;}
.upperCircles .col-md-12 {padding: 0;}
.progressbar, .progressbar:after {width: auto;}
.mainFormWizard {padding: 0 0 60px 0;background: #ffffff;}
.sf-wizard {padding: 25px 0 !important;}
.sf-t3.sf-none .sf-viewport .sf-step, .sf-t3.sf-fade .sf-viewport .sf-step, .sf-t3.sf-slide .sf-viewport .sf-step {padding: 0 0 0 15px !important;}
.mCSB_inside>.mCSB_container {margin-right: 20px !important;}
.dropify-wrapper.touch-fallback .dropify-message {padding: 10px 0 !important;}
.dropify-wrapper .dropify-message p {padding: 0 15px !important;}
.socialLinksboxx li {padding: 15px;}
.socialLinksboxx li .titleSocial i {margin: 0 10px 0 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: 100%;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: 0;top: 30px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;}
#accordion .panel-title a {padding: 15px;font-size: 12px;}
#accordion .panel-title a:before, #accordion .panel-title a:after {width: 1px;top: 17px;right: 24px;}
#accordion .panel-title a:after {right: 18px;transform: rotate(45deg);}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {height: 40px;font-size: 13px;}
.addressBoxxxMain ul li span:nth-child(1) {color: #c5c2d0;float: none;width: auto;display: block;font-size: 13px;margin: 0 0 15px 0;}
.addressBoxxxMain ul li span:nth-child(2) {float: none;display: block;text-align: center;}
/*******************************************************  FORM WIZARD ENDS ********************************************************************/






}