/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.customSlide .owl-theme .owl-controls{
    padding-top: 10px;
    text-align: right;
    position: absolute;
    bottom: 80px;
    width: 100%;
    right: 140px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div:nth-child(1){
	color: #FFF;
	display: inline-block;
	zoom: 1;
	background: url(../img/bannerarrowleft.png) no-repeat;
	margin: 5px;
	padding: 3px 10px;
	width: 32px;	
    height: 32px;
    top: 40%;
    left: 4%;
	font-size: 12px;
	text-indent: 1200px;
	position: absolute;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}

.owl-theme .owl-controls .owl-buttons div:nth-child(2){
	color: #FFF;
	display: inline-block;
	zoom: 1;
	background: url(../img/bannerarrowright.png) no-repeat;
	margin: 5px;
	padding: 3px 10px;
	width: 32px;	
    height: 32px;
    top: 40%;
    right: 4%;
	font-size: 12px;
	text-indent: -100000px;
	position: absolute;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}




/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 21px;
    height: 4px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0;
    background: #e2e9ea;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	/*opacity: 1;*/
	background: #1d2228;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}