.multi_media li input{     -webkit-appearance: none; }
.multi_media {     list-style-type: none;     position: relative;     top: -15px;     padding: 0 0 13px;     margin: 0 0 0px;     border-bottom: 1px solid #f9004d; }
.multi_media li {   display: inline-block; }
.multi_media li input[type="checkbox"][id^="myCheckbox"] {   display: none; }
.multi_media li label {       color: #999;  border: 1px solid #fff;     display: block;     position: relative;     width: 35px;     margin: 0 5px;     padding: 5px;     height: 35px;     cursor: pointer;     text-align: center;     line-height: 25px;     font-size: 22px;     border-radius: 5px;     box-shadow: 0 0 6px #00000036; }
.multi_media li label:before {     background-color: white;     color: #f9004d;     content: " ";     display: block;     border-radius: 50%;     border: 1px solid grey;     position: absolute;     top: -5px;     right: -3px;     width: 22px;     height: 22px;     text-align: center;     line-height: 22px;     transition-duration: 0.4s;     transform: scale(0); }
.multi_media li label img {     height: 25px;     width: 25px;     transition-duration: 0.2s;     transform-origin: 50% 50%; }
.multi_media li input:checked + label {   color:#f9004d;  border-color: #f9004d00;     box-shadow: 0 0 6px #f9004d52; }
.sm_condition {     position: absolute;     right: 0;     top: -18px;     font-size: 14px;     background: #3c3c3c;     color: #fff;     padding: 5px 10px;     border-radius: 3px; }
.multi_media li input:checked + label:before {   display:none;  content: "âœ“";     background-color: transparent;     transform: scale(1);     z-index: 1;     font-weight: bolder;     border: none; }
.multi_media li input:checked + label img {   transform: scale(0.9);   /* box-shadow: 0 0 5px #333; */   z-index: -1; }
.socialLinksboxx li .btnLinkright.linkup button {     float: right; }
.linkup input {     width: 100% !Important;     font-size: 14px !Important;     float: left !Important; }
#WhatsApp .linkup input {     width: 70% !Important;     font-size: 14px !Important;     float: right !Important; }
.linkup select {    width: 80px;     height: auto;     float: left;     font-size: 13px;}