/* ========================================================================================= */
/* ===================================== color_1 #3B5998 ==================================== */
/* ========================================================================================= */

#custumize-style a.switcher,
#custumize-style #button-reset a,
#custumize-style h1 {
	background-color: #3B5998;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.preloader .spinner .dot1,
.preloader .spinner .dot2 {
    background: #3B5998;
}

.btn-pursache:before {
	background-color: #3B5998;
}

.demo-header a.current-demo {
	background: #3B5998;
}


.HorizontalTab.tabs_hor_1 .resp-tabs-list .resp-tab-active {
	background-color: #3B5998 !important;
}
.HorizontalTab.tabs_hor_1 .resp-tabs-list li:hover {
    background-color: #3B5998 !important;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.HorizontalTab.tabs_hor_2 .resp-tabs-list .resp-tab-active,
.HorizontalTab.tabs_hor_3 .resp-tabs-list li {
	background-color: #3B5998 !important;
}
.HorizontalTab.tabs_hor_2 .resp-tabs-list li:hover {
    background-color: #3B5998 !important;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.HorizontalTab.tabs_hor_3 .resp-tabs-list .resp-tab-active {
	color: #3B5998 !important;
}

.HorizontalTab.tabs_hor_3 .resp-tabs-list li i {
    color: #3B5998;
}

.HorizontalTab.tabs_hor_3 .resp-tabs-list li:hover i,
.HorizontalTab.tabs_hor_3 .resp-tabs-list .resp-tab-active i {
    background: #3B5998 !important;
}

.HorizontalTab.tabs_hor_4 .resp-tabs-list .resp-tab-active,
.HorizontalTab.tabs_hor_4 .resp-tabs-list li:hover,
.HorizontalTab.tabs_hor_5 .resp-tabs-list .resp-tab-active,
.HorizontalTab.tabs_hor_5 .resp-tabs-list li:hover {
	    border-bottom: 1px solid #f9004d !important;
}
.VerticalTab.tabs_ver_1 .resp-tabs-list .resp-tab-active {
   color: #fff!important;
    background-color: #f9004d !important;
}
.VerticalTab.tabs_ver_1 .resp-tabs-list .resp-tab-active a {
    color: #fff!important;
    background-color: #f9004d !important;
}



.VerticalTab.tabs_ver_2 .resp-tabs-list li,
.VerticalTab.tabs_ver_1 .resp-tabs-list li {
    background-color: #fff !important;
}
.VerticalTab.tabs_ver_1 .resp-tabs-list li:hover{
   color: #fff!important;
    background-color: #f9004d !important;

    
}

.VerticalTab.tabs_ver_1 .resp-tabs-list li:hover a{
    color: #fff!important;
    background-color: #f9004d !important;
}


.VerticalTab.tabs_ver_2 .resp-tabs-list .resp-tab-active,
.VerticalTab.tabs_ver_2 .resp-tabs-list li:hover {
    color: #3B5998 !important;
}
.VerticalTab.tabs_ver_2 .resp-tabs-list li i {
	color: #3B5998;
}
.VerticalTab.tabs_ver_2 .resp-tabs-list .resp-tab-active i ,
.VerticalTab.tabs_ver_2 .resp-tabs-list li:hover i {
    background: #3B5998 !important;
}
.VerticalTab.tabs_ver_3 .resp-tabs-list li {
	background-color: #3B5998 !important;
}
.VerticalTab.tabs_ver_3 .resp-tabs-list .resp-tab-active,
.VerticalTab.tabs_ver_3 .resp-tabs-list li:hover {
    color: #3B5998 !important;
}
.VerticalTab.tabs_ver_3 .resp-tabs-list li i {
	color: #3B5998;
}
.VerticalTab.tabs_ver_3 .resp-tabs-list .resp-tab-active i ,
.VerticalTab.tabs_ver_3 .resp-tabs-list li:hover i {
    background: #3B5998 !important;
}
.VerticalTab.tabs_ver_4 .resp-tabs-list li {
	background-color: #3B5998 !important;
}

.VerticalTab.tabs_ver_4 .resp-tabs-list .resp-tab-active i ,
.VerticalTab.tabs_ver_4 .resp-tabs-list li:hover i,
.VerticalTab.tabs_ver_5 .resp-tabs-list .resp-tab-active,
.VerticalTab.tabs_ver_5 .resp-tabs-list li:hover,
.VerticalTab.tabs_ver_4 .resp-tabs-list li:hover,
.VerticalTab.tabs_ver_4 .resp-tabs-list .resp-tab-active {
    color: #3B5998 !important;
}
.VerticalTab.tabs_ver_5 .resp-tabs-list li {
	background-color: #3B5998 !important;
}
.VerticalTab.tabs_ver_5 .resp-tabs-list .resp-tab-active i ,
.VerticalTab.tabs_ver_5 .resp-tabs-list li:hover i ,
.VerticalTab.tabs_ver_6 .resp-tabs-list .resp-tab-active i ,
.VerticalTab.tabs_ver_6 .resp-tabs-list li:hover i{
    color: #3B5998 !important;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.VerticalTab.tabs_ver_6 .resp-tabs-list li {
	background-color: #3B5998 !important;
}
.VerticalTab.tabs_ver_6 .resp-tabs-list .resp-tab-active,
.VerticalTab.tabs_ver_6 .resp-tabs-list li:hover {
    color: #3B5998 !important;
}
.site-footer .copyright span a:hover,
.site-footer .credit a:hover {
  color: #3B5998;
}
.nicescroll-cursors {
	background-color: #3B5998 !important;
}
h2.resp-accordion .fc_icons {
	color: #f9004d !important;
}
h2.resp-accordion {
	background: #f9004d !important;
}