.profileDropDown img{
    float: left;
    margin: 5px 0 0 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.text-muted1 {
color: red;
}
.progressbar li {

}

#loader { 
border: 12px solid #f3f3f3; 
border-radius: 50%; 
border-top: 12px solid #444444; 
width: 70px; 
height: 70px; 
animation: spin 1s linear infinite; 
} 
/*  #loader2 { */
/*  border: 12px solid #f3f3f3; */
/*  border-radius: 50%; */
/*  border-top: 12px solid #444444; */
/*  width: 70px; */
/*  height: 70px; */
/*  animation: spin 1s linear infinite; */
/*} */

.preloader {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 122%;
z-index: 9999;
background-image: url('../IMAGE/default.gif');
background-repeat: no-repeat; 
background-color: #fff9;
background-position: center;
}

@keyframes spin { 
100% { 
transform: rotate(360deg); 
} 
} 

.center { 
position: absolute; 
top: 0; 
bottom: 0; 
left: 0; 
right: 0; 
margin: auto; 
} 


.center1 { 
position: absolute; 
top: 0; 
bottom: 0; 
left: 0; 
right: 0; 
margin: auto; 
} 
.cartimg{
	width: 24px;
}

.cart {
	width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    box-shadow: 0 3px 12px rgba(0,0,0,.1);
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    pointer-events: none;
    background-color: #f9004d;
    z-index: 2;
}
/***********purchased product view***********/
.product_content .pro_title {     font-size: 26px;     font-weight: 600;     line-height: 30px;     margin: 0px 0 20px; }
.product_content .sm_discr {     color: #a1a1a1;     font-size: 14px;     margin: 0 ;     width: 550px; }
.product_content .price {     position: absolute;    right: 20px;    bottom: 20px;    background: #3c3c3c;     color: #fff;     font-size: 22px;     width: fit-content;     text-align: center;     padding: 0 20px 0 0;     border: none;     margin: 0 ;}
.product_content .price .currency {     display: inline-block;     width: 30px;     background: #fff;     color: #3c3c3c;     margin-right: 15px; }
.product_content .stat {     font-size: 14px;     margin: 0 0 5px;     font-weight: 600;     color: #3c3c3c; }
.product_content .stat .stat_data {     font-weight: normal; }
.product_content .download {    position:relative; margin: 0;     float: left;     width: 100%; }
.product_content .share_icons {     float: left;     width: 100%; }
.product_content .share_icons a i {     color: #fff;     background: #3c3c3c;     display: inline-block;     font-size: 20px;     width: 40px;     border-radius: 100px;     text-align: center;     height: 40px;     line-height: 40px;     margin: 0px 10px 0 0; }}
.product_content .share_icons a:hover a i{     box-shadow: inset 0 0 6px #fff; }
.product_content .download a {     border: 2px solid;     border-radius: 0 100px 100px 0;     padding: 7px 40px;     position: relative;     margin-right: 40px;     margin-left: 15px;     color: #ffffff !IMPORTANT;     background: #3c3c3c !important;     border-color: #3c3c3c !IMPORTANT; }
.product_content .download a .icon {     border-radius: 100px;     border: 2px solid #3c3c3c;      background: #fff;   width: 42px;     display: inline-block;     height: 42px;     text-align: center;     position: absolute;     left: -18px;     top: -2px; }
.product_content .download a .icon img {     max-width: 22px;     vertical-align: -webkit-baseline-middle; }
.product_content .share_icons a.wp i {     background: #4CAF50; }
.product_content .share_icons a.pdf i {     background: #F44336; }
.product_content .share_icons a.vcf i {     background: #2196F3; }
.product_content .share_icons a.copy i {     background: #FF9800; }
.card_div {       position: relative; float: left;    width: 100%; background: #fff;     box-shadow: 0 0 5px #0000003b;     padding: 15px 20px;     margin: 0 0 20px;     border-radius: 10px; }
.product_content .download a:hover {     background: #ffffff !IMPORTANT;     border-color: #3c3c3c;     color: #3c3c3c !important; }
.product_content .download a:hover .icon {border-color: #3c3c3c;}
.product_content .download a:hover .icon i {color:#3c3c3c;}
.purchased_pro {     padding: 50px 0; }
.sec_title { 	font-size: 18px;     font-weight: 500;     padding: 0 0 5px;     border-bottom: 1px solid #ddd; }
.card_div_one {     width: 70%; }
.card_div_two {     text-align: right;     float: left;     width: 30%;     padding: 0; }
.card_div_two img {     width: 170px;     margin: 0 auto; }
.product_content .share_icons a i:after {     border-right: 1px solid #3c3c3c;     content: "";     position: absolute;     left: 47px;     height: 100%; }
.product_content .share_icons a {     position: relative;     margin-right: 70px; }
/**********purchased product view end***********/

/*******mob view qr code *******/
.outer_card {     position: relative;     max-width: 350px;     margin: 120px auto;     text-align: center;     box-shadow: 0 0 10px #cecece;     border-radius: 10px;     padding: 75px 25px 35px; }
.outer_card .img_part {     position: absolute;     width: 100%;     left: 0;     top: -60px; }
.outer_card .img_part a {     display: block;     text-align: center; }
.outer_card .img_part a img {     width: 120px;     border-radius: 100px; }
.discriptions img {     display: block;     max-width: 200px;     margin: 50px auto; }
.discriptions .title {     font-weight: 600;     font-size: 20px; }
.discriptions p.context {     font-size: 14px;     color: #9f9f9f;     line-height: 20px; }
.foot_interact {     width: 100%;     display: inline-block; }
.foot_interact a {     font-size: 14px;     color: #9f9f9f;     float: left;     width: 50%; }
.foot_interact a .icon img {   opacity:0.4;  width: 20px; }
.foot_interact a:nth-child(odd){text-align:left;}
.foot_interact a:nth-child(even){text-align:right;}
/****mob view qr code *********/


