
/* Aurthor: Hardeep Singh */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald Regular'), local('Oswald-Regular'),
 url('../fonts/oswald-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
 url('../fonts/oswald-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
 url('../fonts/oswald-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
 url('../fonts/oswald-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
 url('../fonts/oswald-v16-latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */	
}
@font-face {
	font-family:'lemon_b';
	src:url('../fonts/LEMONMILK-Bold.otf');	
}
@font-face {
	font-family:'lemon_r';
	src:url('../fonts/LEMONMILK-Regular.otf')
}


/* GLOBAL */
::-moz-selection { color: #fff;background: #f9004d; }
::selection { color: #fff;background: #f9004d; }
.text-red {color: #f9004d !important;}
.modal-backdrop.show {opacity: 0.8;}
a,a:hover,a:visited{text-decoration:none !important;color:inherit;display:inline-block;cursor:pointer;}
a:focus{color:inherit;outline:none;}

/*Buttons*/
a.btnCustomStyle2, button.btnCustomStyle2 {color: #c6c9d8;font-size: 14px;text-transform: uppercase;letter-spacing: 2px;border: 2px solid #b1b4c1;padding:12px 30px;border-radius: 6px;display: inline-block;font-weight: 500;-webkit-transition: .3s;transition: .3s;}
a.btnCustomStyle2.btn-solid, button.btnCustomStyle2.btn-solid {border: 2px solid #f9004d;background: #f9004d;color: #fff;}
a.btnCustomStyle2:hover, button.btnCustomStyle2:hover {background: transparent;color: #f9004d;box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);-webkit-transform: translateY(-5px);transform: translateY(-5px);}

/**********8th dec 2021**********/
.new_prof_dropdown a {  border-radius: 6px;  margin: 0 0 0 10px;  color: #f9004d;  background: #fff !important;  font-size: 14px !important;  box-shadow: 0 0 8px 0px #dfdfdf; }
.after_logged_in ul {overflow:visible !important;}
.new_prof_dropdown a i {  vertical-align: text-top;  margin: 0; }
.new_prof_dropdown a:hover {  background: #f9004d !IMPORTANT;  color: #fff; }
.wsmenu-list>li.loginSign ul li.new_prof_dropdown {  display: inline-block;  float: left;  width: 100%; }
.wsmenu-list>li.loginSign ul li.new_prof_dropdown img {  margin: 0; }
li.new_prof_dropdown:hover>.megamenu {  display: block !important;  padding: 10px 5px !important;  border: 0;  border-radius: 10px; }
.new_prof_dropdown .dropBox li a { width: 100%; }
.new_prof_dropdown .dropBox li a:hover {  color: #fff !important; }
.cart_icon {  text-align: center !important; }
.cart_icon span:after{display:none !Important; }
.counter_cart {  height: 20px;  position: relative;  top: -15px;  right: -45px;  font-size: 13px !important;  float: right;  color: #f9004d !IMPORTANT;  font-weight: 600;  pointer-events: none; }
.breadcrumbInner ul li {  display: inline-block; color: #adadad;}
.breadcrumbInner ul li:not(:last-child):after {content:"\f105"; font-family:'FontAwesome';margin: 15px;}
.breadcrumbInner .page-list {  background: #1d1111;  padding: 8px 15px; }
.breadcrumbInner ul li.active {  color: #fff; }
.acc_tab_nav a.nav-link.active {  background-color: #f9004d;  border-radius: 0; }
.acc_tab_nav {  box-shadow: 0 0 10px #00000024;  padding: 10px;  border-radius: 5px; }
.base_card {  position:relative;box-shadow: 0 0 10px #0000001c;  margin: 0px 0 30px;  border-radius: 5px;  overflow: hidden;}
.acc_card_title { margin: 0;  text-align: center;  background: #f9004d;  /* background: linear-gradient(to right, rgba(249,0,77,1) 0%,rgba(0,0,0,1) 100%);*/  color: #fff;  padding: 25px;  text-transform: capitalize; }
.dash .acc_card_title {padding:90px;}
.base_card_body img.user_img {  position: absolute;  border-radius: 100px;  width: 150px;  top: 135px;  left: 30px; }
.user_welcome {  text-align: right;  margin:  0px; }
.text_discr {  margin: 25px 0 50px;  text-align: left; }
.base_card_body {  padding: 25px; }
.div_acc ul {  list-style: none; }
.div_acc ul li .dashboard-icon {  float: left;  position: absolute;  left: -50px;  top: -7px; }
.div_acc ul li .dashboard-icon i {  color: #f9004d;  width: 40px;  font-size: 22px;  text-align: center;  line-height: 38px;  border-radius: 100px;  height: 40px;  background: #fff;  box-shadow: 0 0 10px #0000004f; }
.div_acc ul li {position: relative;  margin: 40px 0; }
.div_acc table tr td:nth-child(1) {  font-weight: 600;  color: #3c3c3c; }
.d_tail {  margin: 30px 0 0;  text-align: center;  color: #ffffff;  font-weight: 500;  padding: 5px;  background: #f9004d; }
.server_stats ul {  list-style: none;  padding: 0; }
.server_stats ul li {  float: left;  width: 85px; }
.server_stats ul li .icon {  margin: 0;  padding: 0 10px 0 0;  font-size: 16px; }
.server_stats {  position: absolute;  top: 165px;  right: -5px;  padding: 5px 15px;  background: #fff;  border-radius: 50px 0 0 50px;  box-shadow: 0 0 17px #00000085; }
.server_stats ul li .counter {  font-size: 14px;  font-weight: 500; }
.server_stats ul li .icon.likes { color: #E91E63;}
.server_stats ul li .icon.shares { color: #FF5722;}
.server_stats ul li .icon.downloads { color: #3F51B5;}
.server_stats ul li .icon.views { color: #4CAF50;}
.acc_card_title i {margin: 0 10px 0 0; }
.passcode_change input {width:50%;}
/**********image uploader*********/
.profile-pic {  max-width: 200px;  max-height: 200px;  display: block; }
.file-upload {  display: none; }
.circle {  border-radius: 100px !important;  overflow: hidden;  width: 128px;  height: 128px;  border: 8px solid #727272;  top: 0;  margin: 0 auto;  position: relative; }
.outer_uploader {  position: relative;  margin: 0 0 25px; }
.circle img {  max-width: 100%;  height: auto; }
.p-image {  background: #fff;  padding: 5px;  border-radius: 50px;  position: absolute;  left: 52%;  bottom: 0;  color: #666666;  transition: all .3s cubic-bezier(.175, .885, .32, 1.275); }
.p-image:hover {transition: all .3s cubic-bezier(.175, .885, .32, 1.275); }
.upload-button {font-size: 1.2em; vertical-align: middle; }
.upload-button:hover {transition: all .3s cubic-bezier(.175, .885, .32, 1.275);color: #999; }
/*********image uploader end*********/




/*********8th end*****/
/***********11 jan 2021***********/
.customSlide.sliderOwl  .owl-theme .owl-controls {  bottom: 155px; }
.gap_upper {  margin: 50px -15px 80px; }
.contact_form textarea {  width: 100%;  resize: none;  border: 1px solid #ddd;  padding: 10px 15px; margin: 0 0 15px; border-radius: 5px;}
.contact_form input:focus {  outline: none;  border-bottom: 1px solid #f9004d;  color: #000; }
.main_outer .left_aside img {  float: left; width: 85px; }
.contact_form input {  width: 100%;  border: 1px solid #ddd;  margin: 0 0 20px;  padding: 5px 15px; border-radius: 5px; }
.main_outer .left_aside .context {  width: 70%;  float: right; }
.main_outer .left_aside .context h3 {  margin:  0; }
.main_outer .left_aside .context p {  font-size: 14px;  color: #3c3c3c;  line-height: 18px;  margin: 5px 0; }
.contact_opts {  list-style: none;  padding: 60px 0;  display: block;  margin: 0 0 70px;  box-shadow: 0 0 10px #e8e8e8; }
.contact_opts li {  display: inline-block;  margin: 0 auto;  width: 33%;  text-align: center; }
.contact_opts li:not(:last-child) {  border-right: 1px solid #ddd; }
.contact_opts .mainAddress .icon {  width: 75px;  padding: 20px;  margin: 0 auto 15px;  border: 1px solid #f9004d;  border-radius: 100px; }
.contact_opts .mainAddress .inner p {  color: #717171;  font-size: 14px;  line-height: 18px;  margin: 0; }
.contact_opts .mainAddress .inner a {  color: #717171;  font-size: 14px;  line-height: 18px;  margin: 0; 	display:block; }
.contact_opts .mainAddress .inner a:hover {color:#f9004d;}
.acc_card_title img {  width: 50px; }
.first_title {text-align: center; margin: 10px 0 20px;}
.about_bio h6 {  margin: 10px 0 0;  font-size: 18px;  color: #000;  font-weight: 600; }
.flexible_tabs ul {display:block; white-space:nowrap; width: 64%; text-align:center; background:#fff; overflow-x:auto; padding: 0 0 45px; margin: 26px auto 0;}
.flexible_tabs {position: relative;  margin: 0 !important; }
.flexible_tabs ul li { background: #ebebeb; border-radius: 8px; margin:0 ;}
.spacing {  margin-bottom: 50px; }
.flexible_tabs ul:hover::-webkit-scrollbar {display:block !important;}
/* width */
.flexible_tabs ul::-webkit-scrollbar { 	display:none;height:4px; }

/* Track */
.flexible_tabs ul::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey;border-radius: 10px; }
 
/* Handle */
.flexible_tabs ul::-webkit-scrollbar-thumb {background: #f9004d;border-radius: 10px; }

/* Handle on hover */
.flexible_tabs ul::-webkit-scrollbar-thumb:hover {background: #b30000;cursor:pointer; }
/*****sort filter btn******/
/*--- DO NOT COPY BELOW CODE - Just for demo purpose ---*/

.action_tabs .content {  padding: 0 !important;margin: 15px 0 0 auto;width:25%; opacity:0; -webkit-transition:all .15s ease;-o-transition:all .15s ease;transition:all .15s ease}
.action_tabs .content.show {opacity:1;}
.action_tabs {  position: absolute;  z-index: 5;  width: 100%;  text-align: right;  padding: 0 30px;  top: -53.6px;  right: -12px; }
.interact_sec .title {  margin: 0;  background: #3c3c3c;  color: #fff;  padding: 5px 15px; }
/*--- Demo code ends ---*/



/*--- ALL YOU NEED ---*/
.btn-custom {  position: relative;  font-weight: 500;  font-size: 14px;  padding: 8px 12px;  overflow: hidden;  line-height: 1.3;  background: none;  border: none;  background: #f9004d; }
.btn-custom .filter {position:absolute;height:42px;width:42px;top:50%;right:0;transform:translateY(-50%);cursor:pointer; }
.btn-custom:hover {  border-color: transparent;  box-shadow: none; }
@media (max-width: 1200px) {
  .btn-custom {
 height: 42px;
 width: 42px;
 padding: 10px 0;
  }
  .btn-custom .filter {top:65%;}
  
  .btn .filter-text {
 display: block;
 position: absolute;
 left: 50%;
 top: 2px;
 -webkit-transform: translateX(-50%);
 -ms-transform: translateX(-50%);
 transform: translateX(-50%);
 text-transform: uppercase;
 font-size: .58rem;
 font-weight: 600;
 letter-spacing: .03rem;
  }

}

.btn-custom .filter span, .btn-custom .filter span:before, .btn-custom .filter span:after {
  transition:all .3s ease-in-out;
  background: #fff;
  position: absolute;
} 
.btn-custom .filter span:before, .btn-custom .filter span:after {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  left: -3px;
}
.btn-custom .filter span {
  height: 10px;
  width: 4px;
  top: 10px;
  left: 14px;
  box-shadow: 8px 11px 0 #fff;  
}
.btn-custom .filter span:before {
 top: 4px;
}
.btn-custom .filter span:after {
 top: 15px;
}



.btn[aria-expanded=true] .filter span {
  transition:all .1s ease-in-out;
  background:transparent;
  box-shadow:8px 11px 0 transparent;
}


.btn[aria-expanded=true] .filter::after,
.btn[aria-expanded=true] .filter::before {
 opacity: 0
}

.btn[aria-expanded=true] .filter span.rotate::after,
.btn[aria-expanded=true] .filter span.rotate::before {
 opacity: 1
}

.btn[aria-expanded=true] .filter span.rotate::before {
 -webkit-transform: rotate(45deg)translate(4px,4px);
 -ms-transform: rotate(45deg)translate(4px,4px);
 transform: rotate(45deg)translate(4px,4px);
}

.btn[aria-expanded=true] .filter span.rotate::after {
 -webkit-transform: rotate(-45deg)translate(4px,-4px);
 -ms-transform: rotate(-45deg)translate(4px,-4px);
 transform: rotate(-45deg)translate(4px,-4px);
}
/****sort filter btn end *******/

.interact_sec {  text-align: left; display:block;}
.interact_sec_btns a {  width: 100%;  display: inline-block;  text-align: center; }
.interact_sec_btns a.apply {  border-radius: 8px;  padding: 5px;  margin: 10px auto;  color: #ffffff;  background: #3c3c3c; }
.interact_sec_btns a.apply:hover {background:#f9004d;}
.interact_sec .filter {  list-style: none;  padding: 0 15px; }
.interact_sec .filter li {  border-top: 1px solid #ddd; 	 padding: 5px 0; }
.interact_sec .filter li:last-child {  border-bottom: 1px solid #ddd; }
.interact_sec .filter li span {font-size: 14px;display: inline-block;  width: 50%; }
.interact_sec .filter li span.action_on {  text-align:right; }
.interact_sec .sorting { margin: 0;  list-style: none;  padding: 0px; }
.interact_sec .sorting li .sub_title {  background: #ddd;  padding: 5px 15px;  font-size: 14px;  font-weight: 500;  margin: 0;}
.interact_sec .sorting li ul {  list-style: none;  padding: 0 15px; }
.interact_sec_btns { padding: 0 15px;  text-align: center;  display: block; }
.interact_sec .sorting li ul li {  border-top: 1px solid #ddd; 	 padding: 5px 0; }
.interact_sec .sorting li ul li:last-child {  border-bottom: 1px solid #ddd; }
.interact_sec .sorting li ul li:first-child {  border-top: none; }
.interact_sec .sorting li ul li span {  font-size: 14px; display: inline-block;  width: 50%; }
.interact_sec .sorting li ul li span.action_on {  text-align:right; }
.custom_paging ul {  width: fit-content;  margin: 50px auto 0; }
.custom_paging ul li a {  margin: 0 5px;  width: 40px;  text-align: center; }
.custom_paging ul li:last-child a, .custom_paging ul li:first-child a {  width: 100px; }
.custom_paging ul li a:hover {
 border-color: #f9004d !IMPORTANT;
 background: #f9004d !IMPORTANT;
 color: #fff !IMPORTANT;
}
.custom_paging ul li.active a {background:#3c3c3c !important; border:1px solid #3c3c3c !important;}
/***********11 jan end*************/

/**************12 jan 2021***************/
.smllogo a img {
 width: 65%;
 box-shadow: 0 0 9px #c6c6c6d1;
 margin: 0 0 2px;
}
.smllogo {
 margin: 0;
 float: left;
 margin: 0px 0 0 15px !important;
}
/******cart_changes********/
.portfolio-style--3:hover h4.title {
 display: none;
}
.portfolio-style--3 .portfoliotype {
 display: none;
}
.portfolio-style--3:hover .topLikeandview {
 background: #ffffff99;
 color: #000;
 font-family: 'roboto';
}
/**************12 jan 2021 end***************/

/*************13 jan 2021 **********************/
.multi_media li input{  -webkit-appearance: none; }
.multi_media {  list-style-type: none;  position: relative;  top: -15px;  padding: 0 0 13px;  margin: 0 0 0px;  border-bottom: 1px solid #f9004d; }
.multi_media li {display: inline-block; }
.multi_media li input[type="checkbox"][id^="myCheckbox"] {display: none; }
.multi_media li label { color: #999;  border: 1px solid #fff;  display: block;  position: relative;  width: 35px;  margin: 0 5px;  padding: 5px;  height: 35px;  cursor: pointer;  text-align: center;  line-height: 25px;  font-size: 22px;  border-radius: 5px;  box-shadow: 0 0 6px #00000036; }
.multi_media li label:before {  background-color: white;  color: #f9004d;  content: " ";  display: block;  border-radius: 50%;  border: 1px solid grey;  position: absolute;  top: -5px;  right: -3px;  width: 22px;  height: 22px;  text-align: center;  line-height: 22px;  transition-duration: 0.4s;  transform: scale(0); }
.multi_media li label img {  height: 25px;  width: 25px;  transition-duration: 0.2s;  transform-origin: 50% 50%; }
.multi_media li input:checked + label {color:#f9004d;  border-color: #f9004d00;  box-shadow: 0 0 6px #f9004d52; }
.sm_condition {  position: absolute;  right: 0;  top: -18px;  font-size: 14px;  background: #3c3c3c;  color: #fff;  padding: 5px 10px;  border-radius: 3px; }
.multi_media li input:checked + label:before {display:none;  content: "✓";  background-color: transparent;  transform: scale(1);  z-index: 1;  font-weight: bolder;  border: none; }
.multi_media li input:checked + label img {transform: scale(0.9);/* box-shadow: 0 0 5px #333; */z-index: -1; }
.socialLinksboxx li .btnLinkright.linkup button {  float: right; }
.linkup input {  width: 70% !Important;  font-size: 14px !Important;  float: left !Important; }
/**********custom select*********/
select.style_2 {  -webkit-appearance: none;  background-image:  linear-gradient(45deg, transparent 50%, gray 50%),  linear-gradient(135deg, gray 50%, transparent 50%),  linear-gradient(to right, #ccc, #ccc);background-position:  calc(100% - 20px) calc(1em + 2px),  calc(100% - 15px) calc(1em + 2px),  calc(100% - 2.5em) 0.5em;background-size:  5px 5px,  5px 5px,  1px 1.5em;background-repeat: no-repeat; }
select.style_2:focus {  background-image: linear-gradient(45deg, #f9004d 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #f9004d 50%), linear-gradient(to right, #ccc, #ccc);  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;  background-size: 5px 5px, 5px 5px, 1px 1.5em;  background-repeat: no-repeat;  border-color: #f9004d;  outline: 0;  box-shadow: none; }
select.style_2:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000; }


/*********custom select end******/
.delete {  display: block;  font-size: 22px;  color: #f9004d;  float: right;  margin: 0 30px; }
form#wizard_example_2 .sf-viewport .sf-step-name {  font-size: 24px;  padding: 0 0 20px;color: #f9004d; font-weight: 600;}
/*
form#wizard_example_2 {  position: relative; }*/
form#wizard_example_2 .sf-viewport {  height: 420px !important; }

form#wizard_example_2 .sf-viewport .sf-fieldwrap {  transition: transform 0ms ease 0s !important;/*width: 100%;  height: auto;  position: relative;*/ }
form#wizard_example_2 .sf-fieldwrap .sf-step {  width: 100%;  height: 423px !IMPORTANT; padding: 20px; }
/*form#wizard_example_2 .sf-viewport .sf-fieldwrap .sf-step .mCustomScrollBox {  position: relative;  overflow: hidden;  height: 96%;  max-width: 100%;  outline: 0;  direction: ltr; }*/

/******custom checkox****/
.form-group.required label:after {  content: "*";  color: red; }
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {position: absolute;display: inline-block;width: 0;height: 2rem;margin-left: 5px;content: '';-webkit-transform-origin: 0 0;  transform-origin: 0 0;background: #fff; }
.chiller_cb {
 position: relative;
 display: -webkit-inline-box;
 display: -ms-inline-flexbox;
 display: inline-flex;
 width: auto;
 border: none;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.chiller_cb input {  display: none; }
.chiller_cb input:checked ~ span { border-color: none; background: none; }
.chiller_cb input:checked ~ span:before {width: 1rem;height: .15rem;-webkit-transition: width .1s;transition: width .1s;-webkit-transition-delay: .3s;  transition-delay: .3s; background:#fff;				}
.chiller_cb input:checked ~ span:after {width: .4rem;height: .15rem;-webkit-transition: width .1s;transition: width .1s;-webkit-transition-delay: .2s;  transition-delay: .2s; 				background:#fff;	}
.chiller_cb input:disabled ~ span { border-color: #8f49fa; background: #8f49fa; }
.chiller_cb input:disabled ~ label { color: #8f49fa; }
.chiller_cb input:disabled ~ label:hover {cursor: default; }
.chiller_cb label {border-radius: 5px;position: relative;  z-index: 2;  margin-bottom: 0;  padding-left: 0;  text-align: center;  width: 100%;  cursor: pointer;  color: #000;  padding: 7px 35px;  border: 1px solid #ddd; }
.chiller_cb span {  position: absolute;  z-index: 100;  left: 0;  display: inline-block;  -webkit-box-sizing: content-box; box-sizing: content-box;  width: 1.2rem;  height: 1.2rem;  -webkit-transition: all .2s;  transition: all .2s;  border: none;  background: none; }
.chiller_cb span:before { top: 1rem; left: .37rem; -webkit-transform: rotate(-55deg);transform: rotate(-55deg); }
.chiller_cb span:after { bottom: .35rem; left: .2rem; -webkit-transform: rotate(35deg);transform: rotate(35deg); }
.chiller_cb input:checked ~ label {background-color:#f9004d !Important; color: #fff;}
/*****custom checkbox end******/
.preset {  text-align: center;  float: left;  width: 100%;  display: inline-block; }
.preset .form-group.form-check.form-check-inline {  float: left;  margin: 10px; }
.upper_controls {  position: absolute;  right: 42px;  top: 8px;  z-index: 9; }
.upper_controls a {  background: #ffffff;  color: #f9004d;  font-size: 22px;  border-radius: 50px;  width: 25px;  height: 25px;  text-align: center;  line-height: 0;  border: 1px solid; }
.upper_controls a:hover {  color: #fff;  background: #f9004d;  border-color: #f9004d; }
.accordian_parent .panel-title a { background: #4d4d4d !important; }
.panel-default .form-group input.form-control {
 padding: 0 15px;
 line-height: 36px;
 border: 1px solid #ddd;
 height: auto;
 font-size: 15px;
}
.uploadBackground .dropify-wrapper {
 width: 200px;
 height: 200px;
 margin: 0 auto;
 font-size: 14px;
 line-height: 22px;
 border: 3px dotted #151515;
 border-radius: 100px;
}
.uploadBackground .dropify-wrapper.has-preview {border: 3px dotted #f9004d;}
.uploadBackground .dropify-wrapper .dropify-clear {
 top: 75%;
 left: 0;
 right: 0;
 margin: 0 auto;
}
/***********13 jan end************************/
/******************14 jan *************/
.recent_order {  margin: 0 0 20px; }
.recent_order:hover {  box-shadow: 0 0 10px #00000038; }
.recent_order:hover img {  box-shadow: 0 0 10px #00000038; }
.recent_order img {  padding: 5px;  border-radius: 10px; }
.headings_orders {  padding: 10px 20px;  background: #616161;  margin: 0 0 10px;  color: #fff;  border-radius: 3px; }
.col.my-auto {text-align:center;}
.recent_order_title {  text-align: center;  color: #f9004d;  padding: 40px; }
/**************14 jan end********/

/**************15 jan 2021**************/
.progressbar li:nth-child(1):after{display:none;}
/************15 jan end***************/

/***************18 jan 2021***********/
.populer_slider_home .owl_heading {color:#fff;}
.populer_slider_home .subtext {color:#fff;}
.populer_owl p {color:#fff;}
.populer_slider_home .owl_heading {  color: #fff;  font-family: 'lemon_r';  font-size: 40px;  line-height: 44px; }
.populer_slider_home .red {  background-color: #000 !IMPORTANT;  color: #f9004d !important; }
.populer_slider_home {  text-align: right;  padding-top: 15%; }
.populer_slider_home .subtext {  color: #fff;  font-family: 'lemon_r';  margin: 0; }
.sm_divider {  height: 0;  border-color: #fff;  border-width: 3px;  width: 20%;  margin: 30px 0 30px auto; }
.innerMillion .owl-pagination {  right: -35%;  width: fit-content !important;  z-index: 10;  bottom: 2% !IMPORTANT; }
.innerMillion .owl-pagination .owl-page span {  background: #a1a1a1 !important;  width: 45px !important; }
.innerMillion .owl-pagination .owl-page.active span {  background: #f9004d !important; }
.innerMillion .owl-item {border-radius: 12px !Important; overflow:hidden !important;}
.slide_one {  position: relative; 	}
.slide_one:before {  content: "";  position: absolute;  left: 0;  top: 0;  height: 100%;  width: 20%;  background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);  background: -webkit-linear-gradient(left, rgb(0 0 0 / 27%) 0%,rgba(0,0,0,0) 100%);  background: linear-gradient(to right, rgb(0 0 0 / 27%) 0%,rgb(0 0 0 / 0%) 43%); }
.slide_one:after {  content: "";  position: absolute;  right: 0;  top: 0;  height: 100%;  width: 20%;  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgb(0 0 0 / 27%) 100%);  background: linear-gradient(to right, rgba(0,0,0,0) 55%,rgb(0 0 0 / 27%) 100%); }
.populer_owl {
 margin: 0 0 30px;
}
.slidelayout_02 .portfolio-style--3:hover .topLikeandview ul li span {color:#fff;}
.heartsize{
  height: 18px;
  width: 18px;
  padding-right: 0px;
}
.slidelayout_02 .portfolio-style--3 .topLikeandview ul li a span {
 position: relative;
 left: 25px;
 color: #fff;
}
.heartbutton {
  position:relative; 
  display: block;
  top:3px;
  z-index: 5;	
}

.heart-icon-outline {
  position:absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
}

.heart-icon-hidden { position:absolute;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 0;
}

.heart-icon-filled {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.start-animation-season1 {
  opacity:1;
  animation: animation-season1-in 0.5s;
}

.stop-animation-season1 {
  opacity:1;
  animation: animation-season1-out 0.3s;
}


.start-animation-brokenheart {
  opacity:1;
  animation: animation-brokenheart-in 1s;
}

.stop-animation-brokenheart {
  opacity:1;
  animation: animation-brokenheart-out 1s;
}

.start-animation-bloom {
  opacity:1;
  animation: animation-bloom-in 1s;
}

.stop-animation-bloom {
  opacity:1;
  animation: animation-bloom-out 1s;
}


.heart-icon-animation {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/*
.heart-icon-animate { position:absolute;
  top: 0;
  left: 0;
  animation: start-animation 0.5s;
  opacity: 0.0;
  visibility: visible;
}

.heart {
  position:absolute;
  top: 0;
  left: 0;
  background-image: url(heart-icon-outline.svg);
  background-size: cover;
}
*/

.liked {
  position:absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@keyframes animation-brokenheart-in {
  0% {transform: scale3d(1,1,1);opacity:1; visibility: visible;}
  10% {transform: scale3d(1.2,1,1);opacity:1;}
  20% {transform: scale3d(1.1,1,1);opacity:1;}
  30% {transform: scale3d(1.5,1,1);opacity:1;}
  40% {transform: scale3d(1.3,1,1);opacity:1;}
  50% {transform: scale3d(2,1,0.9);opacity:1;}
  51% {transform: scale3d(1,1,1);opacity:0;}
  100% {transform: scale3d(1,2,1);opacity:0;}
}

@keyframes animation-brokenheart-out {
  0% {transform: scale3d(1,1,1);opacity:0;}
  50% {transform: scale3d(1,1,1);opacity:0;}
  51% {transform: scale3d(1.5,1,1);opacity:1;}
  56% {transform: scale3d(2,1,1);opacity:1;}
  80% {transform: scale3d(0.8,1,1);opacity:1;}
  100% {transform: scale3d(1,1,1);opacity:1;}
}

@keyframes animation-season1-in {
  0% {transform: scale3d(0.1,0.1,0.1);opacity:1; visibility: visible;}
  50% {transform: scale3d(1.0,1.0,1.0);opacity:1;}
  100% {transform: scale3d(1.2,1.2,1.2); opacity:0;}
}

@keyframes animation-season1-out {
  0% {transform: scale3d(1,1,1);opacity:0;}
  100% {transform: scale3d(1,1,1);opacity:1;}
}

@keyframes animation-bloom-in {
  0% {transform: scale3d(1,1,1);opacity:1; visibility: visible;}
  10% {transform: scale3d(1.2,1.2,1);opacity:1;}
  20% {transform: scale3d(1.1,1,1);opacity:1;}
  30% {transform: scale3d(1.5,1.5,1);opacity:1;}
  40% {transform: scale3d(1.3,1.3,1);opacity:1;}
  50% {transform: scale3d(2,2,1);opacity:1;}
  51% {transform: scale3d(2,2,1);opacity:1;}
  100% {transform: scale3d(1,1,1); top:-100px; opacity:0;}
}

@keyframes animation-bloom-out {
  0% {transform: scale3d(1,1,1);opacity:0;}
  10% {transform: scale3d(1,1,1);opacity:1;}
  20% {transform: scale3d(1.5,1.5,1);opacity:1;}
  30% {transform: scale3d(1.8,1.8,1);opacity:1;}
  80% {transform: scale3d(1,1,1);opacity:1;}
  100% {transform: scale3d(1,1,1);opacity:1;}
}
/********heart end**********/
.after_card_interact ul {  float: left;  width: 100%;  margin: 0;}
.after_card_interact ul li {  float: left;  width: 50%; }
.after_card_interact ul li:nth-child(2) {  text-align:right; }
.after_card_interact a span {  position: relative;  left: 22px; }
.after_card_interact {
 background: #ffffff4d;
 float: left;
 width: 100%;
 margin-top: 10px;
 padding: 3px 15px 1px;
 box-shadow: 0 0 20px #0000002b;
 border-radius: 40px;
}
.slidelayout_02 {  margin: 20px 0 0; }
/*********************18 jan 2021 end*************/


/***********19 jan 2021 *********/
.header_banners.third .img_part {position:relative;}
.headerfull .wsmenu { margin: 9px 0 0;}
.header_banners.first {  padding: 105px 180px 0;background: url(../img/banner_bg_1.png) !important;  background-size: cover !important;  }
.header_banners.first .banner_context .banner_title {  color: #f9004d;  font-size: 28px;  font-weight: 500;  line-height: 35px;  text-transform: uppercase; }
.header_banners.first .banner_context .banner_bio {  font-size: 16px;  line-height: 20px;  margin: 20px 0;  color: #595959dd; }
.red_btn { background: #f9004d;  color: #fff;  padding: 10px 20px;  border-radius: 5px; border:1px solid #f9004d;}
.red_btn:hover { background: #fff0;  border-color: #f9004d;  color: #f9004d;}
.header_banners.first .banner_context {  margin: 55px 0 0; }

.header_banners.second { padding: 30px 0 0 30px;  background: url(../img/banner_bg_2.jpg) !important;  background-size: cover !important;  }
.header_banners.second .banner_context {  font-family: 'lemon_r';  background: #ffffff94;  padding: 0;  margin: 95px 0 0 60px; }
.header_banners.second .banner_context .banner_title { 	 line-height: 32px;  font-size: 20px; }
.header_banners.second .banner_context .banner_title .red {  color: #f9004d;  background: transparent !IMPORTANT;  font-size: 40px; }
.header_banners.second .banner_context .banner_bio {  font-size: 14px;  color: #4f4f4f;  margin: 20px 0 30px; }

.header_banners.third {  padding: 105px 0 0 90px;background: url(../img/banner_bg_3.png) !important;  background-size: cover !important;  }
.header_banners.third .img_part img {position: absolute;top: -60px;right: 0px; }
.header_banners.third .banner_context p {font-family: century gothic;font-size: 20px;font-weight: 500; 	margin: 0; }
.header_banners.third a.red_btn {text-transform: capitalize; }
.header_banners.third .banner_context p.head_style_1 {background: #f9004d;color: #fff;font-family: futura;font-size: 48px;font-weight: 800;padding: 0 10px;width: auto;display: inline; }
.header_banners.third .banner_context p.head_style_2 {color: #f9004d;font-size: 40px;font-weight: 600;text-transform: uppercase;font-family: 'lemon_r';letter-spacing: 6px;margin: 0 0 30px; }
.header_banners.third .banner_context p.sub_head {font-family: 'Oswald';line-height: 30px;font-size: 24px;position: relative;z-index: 4444;margin: 0 0 50px; }


.header_banners.fourth {  padding: 80px 0;background: url(../img/banner_bg_4.png) !important;  background-size: cover !important;  }
.header_banners.fourth .img_part img {position: absolute;width: 85% !important;top: -70px;right:0; }
.card_style {
border: 10px solid #f9004d;
display: inline-block;
padding: 20px 0 20px 10px;
}
.card_style .letter {
color: #f9004d;
font-family: 'lemon_r';
font-size: 130px;
position: absolute;
background: #1c3434;
left: -35px;
top: 22px;
line-height: 92px;
padding: 10px 0px 14px;
}
.card_style p {
color: #fff;
font-family: 'lemon_r';
font-size: 42px;
line-height: 50px;
margin: 0 85px 0 30px;
}
.header-slider .four img {
height: 100% !important;
}
/*************19 jan end************/

body{font-family: 'Poppins', sans-serif;color: #1d2228;}
.top-bar {background: #1d1111;padding: 7px 0; color: #fff;font-size: 14px;}
.top-bar .contact-info-con {font-size: 13px;font-weight: 300;}
.top-bar .social-part {overflow: hidden;text-align: right;margin: 0;}
.top-bar .social-part li { margin: 0 0 0 15px;display: inline;}
.wsmenu-list>li.loginSign {float: right;}
.wsmenu-list>li.loginSign ul {overflow: hidden;margin: 3px 0 0 0;padding: 0 15px 0 0;}
.wsmenu-list>li.loginSign ul li {display: inline-block; float: left;}
.new_prof_dropdown .dropBox li {  width: 100%;  margin: 5px 0; }
.wsmenu-list>li.loginSign ul li a {  padding: 6px 18px;text-transform: capitalize;background: #f9004d;font-size: 12px;}
.wsmenu-list>li.loginSign ul li a:hover {transform: translateY(0);background: transparent;}
.wsmenu-list>li.loginSign ul li a i {margin: 0 5px 0 0;}
.customSlide {position: relative;}
.custom-select {position: relative;border: 0;padding: 0;}
.custom-select select {display: none;}
.select-selected {background-color: #e8eef4;}
.select-selected:after {position: absolute;content: "";top: 18px;right: 10px;width: 0;height: 0;border: 6px solid transparent;border-color: #a3aec2 transparent transparent transparent;}
.select-selected.select-arrow-active:after {border-color: transparent transparent #a3aec2 transparent;top: 10px;}
.select-items div,.select-selected {color: #a3aec2;padding: 8px 16px;border: 0;cursor: pointer;user-select: none;}
.select-items {border: 1px solid #e8eef4;position: absolute;background-color: #fff;top: 100%;left: 0;right: 0;z-index: 99;}
.select-hide {display: none;}
.select-items div:hover, .same-as-selected {background-color: #003667;color: #fff;}
#owl-demo .item {position: relative;height: 640px;background: #f9f8fd;}
#owl-demo .item .gpsTop { font-weight: 800; font-family: oswald;font-size: 18px;letter-spacing: 3px;padding: 0 0 0 3px;color: #1d2228;}
#owl-demo .item .innerBannerCont {position: absolute;top: 0;width: 100%;margin: 60px 0 0 0;}
#owl-demo .item .innerBannerCont .gpshead {font-weight: 700;font-size: 49px;color: #1d2228;}
#owl-demo .item .innerBannerCont .gpsCont {  margin: 20px 0 30px 0;font-size: 16px;line-height: 30px;color: #1d2228;font-style: italic;}
#owl-demo .item img{display: block;width: 100%;height: auto;}
.mainCounters { padding: 60px 0;}
.mainCounters .flash_on_boxx {padding: 25px 0;-webkit-box-shadow: 0 0 15px 0 #e1e5eb;box-shadow: 0 0 15px 0 #e1e5eb;border-radius: 10px; overflow: hidden;margin: -210px 0 0 0;background: #fff;}
.mainCounters .flash_on_boxx h3 {color: #1d2228;margin: 0 ;font-weight: 800;font-family: oswald;font-size: 18px;letter-spacing: 3px;}
.counter { margin: 30px 0 0 0;}
.counter .count-number {font-size: 36px;font-weight: 700; margin: 5px 0 5px 0;}
.counter .count-text  { margin: 0;}
.PopularCategories {padding: 0 0 60px 0;}
.PopularCategories .heading {font-size: 40px;font-weight: 700; margin: 0 0 15px 0;}
.PopularCategories .discription { font-size: 18px;font-weight: 200;width: 700px;margin: 0 auto;}
.tab-slider--nav {width: 100%;margin: 35px 0 20px 0;}
.tab-slider--tabs {display: table;margin: 20px auto 0;padding: 0;list-style: none;position: relative;border-radius: 8px;overflow: hidden;background: #f9f8fd;height: 35px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.tab-slider--trigger.active {color: #fff;background: #f9004d;border-radius: 8px;}
.tab-slider--trigger {font-size: 12px;line-height: 1;font-weight: bold;color: #000;text-transform: uppercase;text-align: center;padding: 11px 20px;position: relative;z-index: 2;cursor: pointer;display: inline-block;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.view-more-btn { margin: 50px 0 0 0;}
.popular {background: #000;padding: 50px 0;}
.popular .sideImg { margin: 75px 0 0 0;padding: 0 30px 0 0;}
.popular h2 {font-size: 40px;font-weight: 700;color: #fff;}
.border-sm-left {position: relative;border-left: 1px solid #f9004d;margin-left: 2.5rem !important;padding-left: 1.875rem !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.border-sm-left::before {position: absolute;content: '';opacity: .9;top: 0;right: auto;bottom: auto;left: 0;width: 1px;height: 100%;}
.innerMillion h4 {  color: #1d2228;  margin: 15px 0;  font-weight: 800;  font-family: oswald;  font-size: 18px;  letter-spacing: 3px;  text-align: left;  padding: 0 20px;  position: relative; }
#news-slider2.owl-theme .owl-controls .owl-pagination {text-align: center;position: absolute;bottom: 0;width: 100%;}
.StepsBox {padding: 60px 0;}
.StepsBox .heading {font-size: 40px;font-weight: 700;margin: 0 0 50px 0;}
.about-text {margin-top: 30px;}
.about-text ul {display: flex;}
.about-text ul li:nth-child(1) {}
.about-text ul li:nth-child(2) {padding: 0 0 0 25px;}
.about-text ul li span{width: 50px;height: 50px;line-height: 50px;font-size: 24px;font-weight: 700;text-align: center;background: #f9004d;display: block;color: #fff;border-radius: 50px;box-shadow: 0 7px 15px 1px rgb(245 188 205);}
.about-text ul li h2 {font-size: 24px;font-weight: 700;margin:10px 0px 20px 0px;color: #1d2228;}
.about-text ul li p {font-size: 18px;font-weight: 200;line-height: 30px;}
.height-70 {height: 70px;}
.StepsBox .height-70 {height: 0px;}
.pattern-bg-light {background-repeat: repeat;background-color: #212121;}
.white-color {color: #fff !important;}
.section-heading {text-align: center;margin: auto;float: none;padding-bottom: 20px;}
.slidelayout_02 .portfolio-style--3 {  position: relative;  margin-top: 30px;  overflow: hidden;  border-radius: 42px;  box-shadow: 0 0 20px #0000002b;  /*border: 10px solid #fff; */}
.slidelayout_02.slidelayout_03 .card_bio .img_part img {  width: 50px;  border-radius: 50px;  border: none; }
.slidelayout_02.slidelayout_03 .card_bio {  box-shadow: 0 0 20px #0000002b;  padding: 5px 15px;  margin-top: 50px;  background: #fff;  border-radius: 10px;  color: #000; }
.slidelayout_02.slidelayout_03 .card_bio .img_part {display:inline-block; vertical-align: top; padding: 0 15px 0 0; border-right: 1px solid #000;}
.slidelayout_02.slidelayout_03 .card_bio .context{  margin: 5px 0 0;display:inline-block; padding: 0 0 0 15px;}
.slidelayout_02.slidelayout_03 .card_bio .context .user_name {  margin: 0;  font-size: 16px; }
.slidelayout_02.slidelayout_03 .card_bio .context .cat_name {line-height: 10px;  color: #f9004d;  margin: 0; }
.slidelayout_02 .portfolio-style--3 .content h4.title a {  color: #fff;  font-size: 24px;  font-weight: 500;  line-height: 26px;  margin: 0 0 20px;  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);  transition: all .3s cubic-bezier(.645,.045,.355,1); }
.portfolio-style--3 {position: relative;margin-top: 30px;overflow: hidden;border-radius: 35px;}
.portfolio-style--3 .topLikeandview { bottom: 0; position: absolute;z-index: 5;color: #d6d6d6;font-size: 12px;width: 100%;padding: 10px 20px;text-align: right;}
.portfolio-style--3 .topLikeandview ul {margin: 0; float: left;  width: 100%;  display: inline-block;}
.portfolio-style--3 .topLikeandview ul li {  display: inline-block;  margin: 0;  float: left;  width: 50%;  font-size: 16px;  font-family: 'roboto';  color: #fff; }
.slidelayout_02 .texture_bg {margin-bottom: 35px;border-radius: 45px;  padding: 1px 35px 30px;  box-shadow: 0 0 20px #0000003d;  background: url(../img/diamond_2.jpg); background-size: cover; }
.slidelayout_02.slidelayout_03 .card_bio {  box-shadow: 0 0 20px #0000002b;  padding: 5px 15px;  margin-top: 50px;  background: #fff;  border-radius: 10px;  color: #000; }
.slidelayout_02.slidelayout_03 .portfolio-style--3:hover .thumbnail a img { transform: none;}
.slidelayout_02.slidelayout_03 .portfolio-style--3:hover .thumbnail a:after { background-image: none;}
/* .portfolio-style--3 .topLikeandview ul li {  display: inline-block;  margin: 0;  float: left;  width: 50%;  font-size: 15px;} */
.portfolio-style--3 .topLikeandview ul li:nth-child(1) {  text-align: left; }
.portfolio-style--3 .topLikeandview ul li:nth-child(2) {  text-align: right; }
.portfolio-style--3 .topLikeandview ul li:nth-child(1) a {  margin: 0 3px 0 0;  color: #f9004d; }
.portfolio-style--3 .topLikeandview ul li:nth-child(2) a {  margin: 0 3px 0 0;  color: #2196F3; }
.portfolio-style--3 .topLikeandview ul li a {margin: 0 3px 0 0;}
.portfolio-style--3 .topLikeandview ul li a i {}
.portfolio-style--3:hover .topLikeandview ul li span {  color: #000; }
.portfolio-style--3 .price_amt { 	 position: relative;  background: #000;  border-color: #000;  width: fit-content;  font-size: 16px;  padding: 0 18px;  line-height: 28px;  height: 30px;  right: -20px; }
.portfolio-style--3 .thumbnail a {display: block;position: relative;z-index: 1;}
.portfolio-style--3 .thumbnail a:after {-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.thumbnail img {border-radius: 5px; min-height: 511px;box-shadow: 0 25px 65px rgba(0,0,0,.1);-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);max-width: 100%;}
.portfolio-style--3 .content {position: absolute;bottom: -115px;width: 100%;padding: 50px 20px;z-index: 3;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content:before {position: absolute;content: "";background: -webkit-gradient(linear,left top,left bottom,color-stop(0,transparent),color-stop(70%,#000));background: -webkit-linear-gradient(top,transparent,#000 70%);background: linear-gradient(180deg,transparent 0,#000 70%);left: 0;top: -20px;width: 100%;height: 100%;opacity: 1;z-index: -1;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content p.portfoliotype { position: absolute; top: 20px; right: 0;  font-size: 16px;  font-family: 'Roboto';  margin-bottom: 0px;  color: #ffffff;  line-height: 30px;  width: fit-content;  background: #f9004d;  padding: 0; }
.portfolio-style--3 .content p.portfoliotype .buy_icon {  font-size: 20px;  padding: 0;  width: 35px;  height: 35px;  top: -3px;  left: -18px;  text-align: center;  color: black;  background: #ffffff;  border-radius: 100px;  position: absolute; }
.portfolio-style--3 .content p.portfoliotype .buy_amt {  width: 80px;  display: inline-block;  text-align: center; 	padding:0 0 0 15px; }
.innerMillion h4:before {  content: '';  border-left: 1px solid #000;  position: relative;  left: -20px;  width: 100%;  top: 0;  box-shadow: 2px 0px 5px 1px #00000052; }
.portfolio-style--3 .content h4.title {margin-bottom: 0;font-weight: 600;font-size: 20px;line-height: 1.4074;}
.portfolio-style--3 .content h4.title a {color: #fff;font-size: 24px;font-weight: 500;line-height: 50px;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.portfolio-style--3 .content h4.title a span { margin: 0 5px 0 0;}
.portfolio-style--3 .content h4.title a span img {margin: -2px 0 0 0px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 0px;-webkit-transition: .7s;transition: .7s;opacity: 0;visibility: hidden;}
a.rn-btn {  text-align: center;  padding: 0 10px;  width: 100%;  height: 40px;  margin: 5px 0;  display: inline-block;  line-height: 34px;  border: 2px solid #fff;  border-radius: 4px;  background: transparent;  /* font-size: 14px; */ 	font-size:20px;  position: relative;  z-index: 2;  color: #f9004d;  letter-spacing: .2px;  text-transform: capitalize;  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);  transition: all .3s cubic-bezier(.645,.045,.355,1); }

/* .innerMillion #news-slider2 .owl-item {padding-left:20px;} */
/* a.rn-btn {text-align: center;padding: 0 10px;width: 100%;height: 40px; margin: 5px 0;display: inline-block;line-height: 34px;border: 2px solid #f9004d;border-radius: 4px;font-size: 14px;position: relative;z-index: 2;color: #f9004d;letter-spacing: .2px;text-transform: uppercase;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);} */
a.rn-btn:hover {border: 2px solid #f9004d;-webkit-transform: translateY(-3px);transform: translateY(-3px);color: #fff;background: #f9004d;}

.portfolio-style--3:hover .thumbnail a img {-webkit-transform: scale(1.1);transform: scale(1.1);}
.portfolio-style--3:hover .thumbnail a:after {
 opacity: 1;
 top: 56%;
 background-image: linear-gradient(180deg,transparent 1%,rgb(196 18 18 / 0.9) 25%);
}
/* .portfolio-style--3:hover .thumbnail a:after {  opacity: .85;  top: 56%;  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fc004d),to(#000));  background: -webkit-linear-gradient(top,#fc004d,#000);  background: linear-gradient(150deg,#fc004d 0,#000 45%); } */
.portfolio-style--3 .thumbnail a:after {/*background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fc004d),to(#000));background: -webkit-linear-gradient(top,#fc004d,#000);background: linear-gradient(180deg,#fc004d 0,#000);*/position: absolute;left: 0; top:55%;right: 0;width: 100%;height: 100%;content: "";z-index: 1;opacity: 0;}
.portfolio-style--3:hover .content {bottom: 0;}
.portfolio-style--3:hover .content:before {opacity: 0;}
.portfolio-style--3:hover .content .portfolio-btn {opacity: 1;visibility: visible;}

.newFeature {padding: 60px 0px;background: #f9f8fd;}
.newFeature .heading {font-size: 40px;font-weight: 700;margin: 0 0 15px 0;}
.newFeature .discription {font-size: 18px;font-weight: 200;width: 700px;margin: 0 auto 50px;}
.newFeature .features-left {text-align: right;}
.newFeature .features-left .features {margin-top: 40px;margin-bottom: 60px;}
.newFeature .features-left .features .icon-container {display: block;margin-top: 5px;min-height: 130px;float: right;margin-left: 20px;}
.newFeature .features-left .features .icon-container .icon {background-clip: padding-box;border-radius: 100px;font-size: 24px !important;height: 65px;line-height: 65px;text-align: center;transition: all 0.25s ease-in 0s;width: 65px;background: #f9004d;color: #ffffff;box-shadow: 0 15px 15px 1px rgb(245 188 205);}
.newFeature .fetaure-details h3 {font-size: 18px;text-transform: capitalize;font-weight: 700;padding-bottom: 10px;color: #000000;}
.newFeature .fetaure-details p {line-height: 23px;color: #333333;}
.newFeature .feature-phone-image {margin: 40px auto 0;max-width: 250px;}
.newFeature .features-right {text-align: left;}
.newFeature .features-right .features {margin-top: 40px;margin-bottom: 60px;}
.newFeature .features-right .features .icon-container {display: block;margin-top: 5px;min-height: 130px;float: left;margin-right: 20px;}
.newFeature .features-right .features .icon-container .icon {background-clip: padding-box;border-radius: 100px;font-size: 24px;height: 65px;line-height: 65px;text-align: center;transition: all 0.25s ease-in 0s;width: 65px;background: #f9004d;color: #ffffff;box-shadow: 0 15px 15px 1px rgb(245 188 205);}


/*footer*/
.footerBox {background: #f9f8fd;}
.footerLeft, .footer-wrapper {position: relative;}
.row--0 {margin-left: 0;margin-right: 0;}
.row--0>[class*=col] {padding-left: 0;padding-right: 0;}
.footerLeft {background: -webkit-linear-gradient(305deg,#f81f01,#ee076e);background: linear-gradient(145deg,#f81f01,#ee076e);padding: 65px 100px;z-index: 2;margin-right: -15px;border-top-right-radius: 6px;}
.footerLeft:before {position: absolute;width: 100%;height: 100%;left: 0;top: 0;content: "";z-index: 1;opacity: .5;border-top-right-radius: 6px;}
.footerLeft .inner {z-index: 5;position: relative;}
.footerLeft .inner>span {color: #fff;font-size: 15px;text-transform: uppercase;letter-spacing: 4px;display: block;margin-bottom: 9px;}
.footerLeft .inner h2 {color: #fff;font-size: 50px;font-weight: 900;line-height: 65px;}
.footerLeft .inner a.btnCustomStyle2 {margin-top: 30px;border-color: #fff;color: #fff;}
.footerLeft .inner a.btnCustomStyle2:hover {background: #fff;border-color: #fff;color: #f9004d;}
.footerRight {width: 100%;padding: 150px 70px 150px 120px;background-color: #1d2228;}
.footerRight .footerLink h4 {color: #c6c9d8;font-weight: 500;margin-bottom: 30px;opacity: .75;}
.footerRight .footerLink ul.ftLink {padding: 0;margin: 0;list-style: none;}
.footerRight .footerLink ul.ftLink li+li {margin-top: 13px;}
.footerRight .footerLink ul.ftLink li a {color: #c6c9d8;font-size: 16px;opacity: .75;}
.footerRight .footerLink ul.ftLink li a:hover {color: #f9004d;}

.socialShare {padding: 0;margin: 15px -6px -6px -6px;}
.socialShare li {margin: 6px;}
.socialShare li a {border: 0;width: 30px;height: auto;text-align: left;line-height: inherit;font-size: 16px;display: inline-block;color: rgba(198,201,216,.75);border-radius: 100%;-webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);transition: all .3s cubic-bezier(.645,.045,.355,1);}
.socialShare li:hover a {background: transparent;box-shadow: none;transform: translateY(-3px);color: #fff;}

.copyright {position: absolute;bottom: -114px;}
.copyright p {color: #c6c9d8;font-size: 14px;opacity: .75;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/

.modal-header.modal-bg .close-btn {position: absolute;top: 20px;right: 20px;}
.close-btn {border: 0;background-color: transparent;padding: 0;width: 30px;height: 30px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;cursor: pointer;outline: none;position: absolute;right: 10px;top: 6px;z-index: 3;}
.close-btn span {position: absolute;width: 2px;height: 15px;display: block;background-color: #a8a8a8;opacity: 0.6;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.close-btn span:nth-child(2) {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.close-btn:hover span {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.close-btn:hover span:nth-child(2) {-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);}

#loginSignup {}
#loginSignup .modal-content { border: 0; border-radius: 10px;}
#loginSignup .modal-content .modal-header {padding: 0;border-bottom: 0;position: relative;}
#loginSignup .content{height: auto;}
#loginSignup .nav-item{width: 50%;}
#loginSignup .nav-pills .nav-link{font-weight: bold;padding: 13px 20px;text-align: left;background: #343436;color: #fff;border-radius: 8px;height: 100px;}
#loginSignup .nav-pills .nav-link.active{background: #fff;font-size: 18px;color: #000;}
#loginSignup .tab-content{position: absolute;width: 100%;height: auto;margin-top: -50px;background: #fff;color: #000;border-radius: 10px;z-index: 1000;box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);padding: 30px;margin-bottom: 50px;}
#loginSignup .tab-content .btnCustomStyle2{width: 100%;}
#loginSignup .nav-pills .nav-link:hover {display: block;}
#loginSignup .signup-form-title {font-size: 28px;font-weight: 700;margin-bottom: 40px;line-height: 1.2;}
#loginSignup .form-group .form-control { padding: 12px 20px;border: 1px solid #e9edf1;height: 50px;}
#loginSignup .form-group .form-control:focus { color: #495057;border: 1px solid #a5a5a5;background-color: #fff;outline: 0;box-shadow: none;}
#loginSignup .checkboxes {align-items: center;justify-content: space-between;flex-wrap: wrap;margin: 20px 0 30px;position: relative;}
#loginSignup .checkboxes .privacy-policy {display: block;position: relative;padding-left: 35px;margin-bottom: 23px;cursor: pointer;margin-bottom: 0;padding-left: 30px;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-size: 16px;font-weight: 500;line-height: 20px;}
#loginSignup .checkboxes input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
#loginSignup .checkboxes .checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;border: 1px solid #ddd;}
#loginSignup .checkboxes input:checked~.checkmark {background-color: #f66b5d;border-color: #f66b5d;}
#loginSignup .checkboxes input:checked~.checkmark:after {display: block;}
#loginSignup .checkboxes .checkmark:after {content: "";position: absolute;display: none;left: 6px;top: 3px;width: 6px;height: 10px;border: solid #fff;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
#loginSignup .checkboxes.d-flex a {font-weight: 500;color: #f9004d; }
.connector {position: relative;margin: 5px 0;}
.connector:before {content: "";position: absolute;background-color: #e9edf1;width: 100%;height: 1px;left: 0;top: 50%;z-index: 1;}
.connector span {display: inline-block;width: 50px;height: 50px;line-height: 50px;text-align: center;border-radius: 50%;font-weight: 500;font-size: 16px;background-color: #fff;z-index: 2;position: relative;}
.signup-form-signin {align-items: center;justify-content: space-between;flex-wrap: wrap;}
.theme-button .icon {position: absolute;top: 51%;right: 24px;font-size: 14px;-webkit-transition: all .3s;transition: all .3s;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
.theme-button {font-weight: 500;font-size: 16px;padding-right: 50px;width: 190px;font-weight: 500;border: 1px solid #e9edf1;line-height: 50px;padding: 0 40px 0 30px;background-color: #fff;border-radius: 4px;text-transform: capitalize;-webkit-transition: all .3s;transition: all .3s;position: relative;height: 50px;display: inline-block;}
.theme-button:hover {background-color: #f6f8fb;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP ENDS ********************************************************************/

/*******************************************************  FORM WIZARD STARTS ********************************************************************/
header.border-bottom {border-bottom: 1px solid #f0f1f3!important;}
.backBtn {text-align: center; margin: 15px 0;}
.backBtn a {padding: 6px 18px;text-transform: capitalize;background: #f9004d;font-size: 12px;}
.mainFormWizard {padding: 30px 0 60px 0;background: #f9f8fd;}
.mainFormWizard .feature-phone-image {margin: 0 auto 0;  max-width: 227px;}
.firstColor{}
.firstColor input{ color: #c5c2d0;outline: none;padding: 12px 20px;border: 1px solid #e9edf1;height: 50px;width: 100%;border-radius: .25rem;}
.fileuploader-input .fileuploader-input-button, .fileuploader-popup .fileuploader-popup-content .fileuploader-popup-button.button-success {background: #9658fe;background: -moz-linear-gradient(135deg, #f71e03 0, #ee076c 100%);background: -webkit-linear-gradient(135deg, #f71e03 0, #ee076c 100%);background: linear-gradient(135deg, #f71e03 0, #ee076c 100%) !important;background-size: 140% auto;background-position: center;color: #fff;box-shadow: 0 4px 18px rgba(0, 0, 0, .08);}
.fileuploader-input .fileuploader-input-caption {color: #c5c2d0 !important;font-weight: 300 !important;}
.fileuploader-input .fileuploader-input-caption {padding: 10px 30px !important;}
.fileuploader-input .fileuploader-input-button {  padding: 11px 22px !important;}
.socialLinksboxx { margin: 0;}
.socialLinksboxx li {  background: #fafbfd;  padding: 5px 15px 5px;  margin: 0;  border-bottom: 1px solid #efefef; }
.socialLinksboxx li .titleSocial {  width: 45%;  text-align: left;  font-weight: 600;  float: left;  line-height: 34px; }
.socialLinksboxx li .titleSocial label {  margin: 0; }
.socialLinksboxx li .titleSocial i { width: 30px; height: 30px; line-height: 30px; color: #fff; background: #c5c2d0; text-align: center; border-radius: 50px;margin: 0 20px 0 0;}
.socialLinksboxx li .btnLinkright {  float: right;  width: 50%; }
.socialLinksboxx li .btnLinkright button { padding: 6px 18px;  text-transform: capitalize;  background: #f9004d;  font-size: 12px;}
.socialLinksboxx li .btnLinkright button:hover{  color: #fff; }
.socialLinksboxx li .inputwithSubmit { float: right;  width: 275px;  position: relative;}
.socialLinksboxx li .inputwithSubmit .submitButton {outline: none;  background: #fafbfd;  border: 0;  font-size: 14px;  line-height: 30px;  margin: 0 15px;  padding: 0;  color: #f9004d;}
.socialLinksboxx li .inputwithSubmit input {width: 170px;  float: left;  height: 30px;  font-size: 12px;}
.socialLinksboxx li .inputwithSubmit input:focus {  color: #495057;  border: 1px solid #a5a5a5;  background-color: #fff;  outline: 0;  box-shadow: none; }
.socialLinksboxx li .inputwithSubmit button {right: 0;  top: 0;}
.socialLinksboxx li .nameWithCrossbtn {float: right;  position: relative;  width: 165px;}
.socialLinksboxx li .nameWithCrossbtn span{ line-height: 30px;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;  top: 0;}





a:hover,a:focus{  text-decoration: none;  outline: none; }
#accordion .panel{
 border: none;
 border-radius: 0;
 box-shadow: none;
 margin-bottom: -5px;
}
#accordion .panel-heading{
 padding: 0;
 border: none;
 border-radius: 0;
}
#accordion .panel-title a{
 display: block;
 padding: 15px 70px 15px 20px;
 background: #c5c2d0;
 font-size: 16px;
 letter-spacing: 1px;
 color: #fff;
 border-bottom: 0;
 position: relative;
 border-radius: 6px;
}
#accordion .panel-title a.collapsed{ color: #fff; }
#accordion .panel-title a.collapsed:hover{ color: #fff; }
#accordion .panel-title a:before,
#accordion .panel-title a:after{
 content: "";
 width: 3px;
 height: 10px;
 background: #fff;
 font-size: 15px;
 position: absolute;
 top: 20px;
 right: 35px;
 transform: rotate(-45deg);
 transition: all 0.3s ease-in-out 0s;
}
#accordion .panel-title a:after{
 right: 29px;
 transform: rotate(45deg);
}
#accordion .panel-title a.collapsed:before{
 transform: rotate(45deg);
 background: #fff;
}
#accordion .panel-title a.collapsed:after{
 transform: rotate(-45deg);
 background: #fff;
}
#accordion .panel-title a.collapsed:hover:before,
#accordion .panel-title a.collapsed:hover:after{ background: #fff; }
#accordion .panel-body{
  padding: 10px 0 25px 0;
 background: #fff;
 border-top: none;
 font-size: 15px;
 color: #fff;
 line-height: 25px;
}


.uploadBackground {color: #1d2228;}
.uploadBackground label{color: #1d2228;}

.personalBoxxx {}
.personalBoxxx .form-group {}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {
 padding: 12px 20px;
 border: 1px solid #e9edf1;
 height: 50px;
}
.personalBoxxx .form-group textarea {height: auto !important;}

.personalBoxxx .form-group .form-control:focus, .businessInformation .form-group .form-control:focus {
 color: #495057;
 border: 1px solid #a5a5a5;
 background-color: #fff;
 outline: 0;
 box-shadow: none;
}












.upperCircles { background: #f9f8fd;
 padding: 30px 0 0 0;}


/*progressbar*/
.upperCircles #progressbar {
 /* overflow: hidden; */
 /* counter-reset: step; */
 width: 650px;
 margin: 0 auto;
}
.upperCircles #progressbar li {
list-style-type: none;
color: white;
text-transform: uppercase;
font-size: 10px;
width: 15%;
float: left;
position: relative;
text-align: center;
}
.upperCircles #progressbar li:before {

 width: 40px;
 line-height: 40px;
 display: block;
 font-size: 18px;
 color: #333;
 background: #fff;
 border-radius: 50px;
 margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.upperCircles #progressbar li:after {
 content: '';
 width: 100%;
 height: 6px;
 background: white;
 position: absolute;
 left: -50%;
 top: 18px;
 z-index: -1; /*put it behind the numbers*/
}
.upperCircles #progressbar li:first-child:after {
/*connector not needed before the first step*/
content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.upperCircles #progressbar li.active:before, .upperCircles #progressbar li.active:after {
background: #f9004d;
color: #fff;
}




.progressbar {
 margin-bottom: 25px;
 padding: 5px 0;
 overflow: hidden;
 counter-reset: step;
 width: 650px;
 margin: 0 auto;
}
.progressbar:after {
 content: '';
 /* width: 57%; */
 height: 2px;
 background-color: #c5c2d0;
 position: absolute;
 left: 0;
 right: 0;
 top: 22px;
 width: 650px;
 margin: 0 auto;
 z-index: 0;
 overflow: hidden;
}
.progressbar li {
 list-style-type: none;
 font-size: 1rem;
 font-weight: 500;
 text-align: center;
 width: 20%;
 float: left;
 position: relative;
 color: #ffffff;
}
.progressbar li:before {
 position: relative;
	top: -2px;
 z-index: 2;
 content: counter(step);
 counter-increment: step;
 width: 40px;
 height: 40px;
 line-height: 40px;
 display: block;
 font-size: 1.2rem;
 font-weight: 600;
 text-align: center;
 color: #ffffff;
 background-color: #c5c2d0;
 border-radius: 100px;
 margin: 0 auto;
}
.progressbar li:after {
 content: '';
 width: 100%;
 height: 2px;
 background-color: #c5c2d0;
 position: absolute;
 left: -50%;
 top: 17px;
 z-index: 1;
}
.progressbar li.active:before, .progressbar li.active:after {
  background-color: #f9004d;
 background-size: 200% auto;
 -webkit-animation: effect 1s linear infinite;
 animation: effect 1s linear infinite;
 color:#fff;
}

















.addressBoxxxMain {}
.addressBoxxxMain label {
 color: #1d2228;
}
.addressBoxxxMain ul { background: #fafbfd;
 border-radius: 6px;
 padding: 16px 20px;}
.addressBoxxxMain ul li {}
.addressBoxxxMain ul li span:nth-child(1){ color: #c5c2d0;
 float: left;
 width: 70%;}
.addressBoxxxMain ul li span:nth-child(2){ float: right;}
.addressBoxxxMain ul li span:nth-child(2) a {
 color: #f9004d;
 font-size: 12px;
 font-weight: 700;
}



.addmainPopup { padding: 45px;}
.addmainPopup h2 {
 font-size: 28px;
 font-weight: 700;
 margin-bottom: 40px;
 line-height: 1.2;
}
.addmainPopup .form-group .form-control {
 padding: 12px 20px;
 border: 1px solid #e9edf1;
 height: 50px;
}

.addmainPopup .form-group .form-control:focus {
 color: #495057;
 border: 1px solid #a5a5a5;
 background-color: #fff;
 outline: 0;
 box-shadow: none;
}





.addmainPopup .btnCustomStyle2 {
 width: 100%;
}

/*******************************************************  FORM WIZARD ENDS ********************************************************************/


























/* Media Queries */

@media (min-width: 1367px) and (max-width: 1919px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
.header_banners.second .banner_context {margin: 55px 0 0 100px; }
.header_banners.first .banner_context {margin: 0; }
.header_banners.first {padding: 105px 0 0 180px;}
.header_banners.first .img_part {position:relative;}
.header_banners.first .img_part img {position:absolute;top: -80px;}

#owl-demo .item .innerBannerCont {margin: 80px 0;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 40px;text-align: left;margin: 0 0 20px 0;line-height: 50px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 18px;}
#owl-demo .item {height: 530px;}
.wsmenu {width: 80% !important;}
.footerLeft .inner h2 {font-size: 42px;line-height: 60px;}
/*15th of feb 20xxi**/
.header_banners.third .img_part img {top: 0px;width: 90% !important;right: 50px;}
.header_banners.third {padding: 0 0 0 70px; }
.header_banners.third .innerBannerCont {margin: 25px 0 0 !important; }
.header_banners.third .banner_context {padding: 15px 20px;background: #ffffff9e;width: 100%; }
.header_banners.third .banner_context p.head_style_1 {font-size:38px;}
.header_banners.third .banner_context p.head_style_2 {font-size:30px;margin: 0 0 20px;}
.header_banners.third .banner_context p.sub_head {margin:0 0 30px;}

/***/
}

@media (min-width: 768px) and (max-width: 991px) {
.header_banners.second .banner_context {background: #ffffff94;padding: 15px 20px;margin: 0; }
.header_banners.second .banner_context .banner_title .red {font-size: 30px;}
.header_banners.first {padding: 50px 0 0 50px; }
.header_banners.first .banner_context {margin: 0;padding: 15px 20px;background: whitesmoke;  }
.header_banners.first .banner_context .banner_title {line-height: 22px;font-size: 20px;}
.smallogo {box-shadow: none !important;}
#owl-demo .item .innerBannerCont {margin: 60px 0 ;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 30px;text-align: left;margin: 0 0 20px 0;line-height: 35px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 16px;padding: 0;line-height: 28px;text-align: left;}
#owl-demo .item {height: 470px;}
.popular .sideImg {display: none;}
.footerLeft {margin-right: 0;}

/*15th feb*/
.header_banners.third {padding: 0; }
.header_banners.third .banner_context p.head_style_1 {font-size:32px;}
.header_banners.third .banner_context p.head_style_2 {font-size:24px;margin: 0 0 10px;}
.header_banners.third .banner_context p.sub_head {margin: 0 0 20px;line-height: 20px;font-size: 18px;}
.header_banners.third .innerBannerCont {margin: 25px 0 !important; }
.header_banners.third .img_part img {top: -20px; }
.header_banners.third .banner_context {padding: 10px 20px;background: #ffffff9e;width: 100%; }
/**/





/*******************************************************  FORM WIZARD STARTS ********************************************************************/

.sf-t3 .sf-nav-number {top: 6px;bottom: 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: auto;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: -15px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: -15px;}

/*******************************************************  FORM WIZARD ENDS ********************************************************************/













}


@media (max-width: 767px) {
	.customSlide .owl-theme .owl-controls {
	bottom: 0 !important;}
}
@media (min-width: 480px) and (max-width: 767px) {
.header_banners.second .banner_context {text-align: right;margin: 0; 	padding: 15px; }
.header_banners.second .img_part img {    float: right;padding: 50px 0 0;}
.header_banners.first {padding: 55px 0 0 180px; }
.header_banners.first .banner_context {margin: 30px 0 0;text-align: right; }
.header_banners.first .img_part {margin: 5px 0;}
.header_banners.first .img_part img {width:100% !important;}
.header_banners.first .banner_context .banner_title {font-size: 22px;line-height: 24px; }
.header_banners.third {padding: 0; }	
.header_banners.third .banner_context {background: #fff;padding: 15px 20px; }
.header_banners.third .innerBannerCont {margin: 20px 0 0px !important; }	
.header_banners.third .img_part {text-align:center;}
.header_banners.third .img_part img {position: relative;top: 10px;width: 300px !important;right: 0px;float: none;display: inline-block !IMPORTANT; }
.mainCounters {padding: 20px 0;}
.mainCounters .flash_on_boxx {margin:0;}
.header_banners.third .banner_context p.head_style_1 {font-size: 32px;}
.header_banners.third .banner_context p.head_style_2 {font-size: 30px;margin: 0 0 20px;}
.header_banners.third .banner_context p.sub_head {font-size: 18px;}
.top-bar .social-part {display: table;margin: 0 auto;}
.top-bar .contact-info-con {text-align: center;}
#owl-demo .item .innerBannerCont {margin: 50px 0 ;}
#owl-demo .item .gpsTop {text-align: center;padding: 0;}
#owl-demo .item .innerBannerCont .contBtn {text-align: center;margin: 0 0 40px 0;bottom: 65px;}
#owl-demo .item img {width: 250px;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 36px;text-align: center;margin: 0 0 20px 0;line-height: 45px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 18px;padding: 0;line-height: 24px;text-align: center;}
.customSlide .owl-theme .owl-controls {right: 10px !important;}
.counter .count-number {font-size: 20px;margin: 15px 0 5px 0;}
.counter .count-text {font-size: 14px;}
.portfolio-style--3 .content {padding: 15px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 35px;}
.portfolio-style--3 .content h4.title a {font-size: 18px;}
.PopularCategories .discription {width: auto;font-size: 14px;}
.popular .sideImg {display: none;}
.popular h2 {text-align: center;font-size: 40px;}
.border-sm-left {position: relative;border-left: 0;text-align: center;margin-left: 0 !important;padding-left: 0 !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.newFeature .discription {width: auto;font-size: 14px;margin: 0 auto;}
.popular .d-sm-flex {display: block !important;}
.tab-slider--body .col-lg-4.col-md-6.col-12 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 100%;}
.footerLeft {margin-right: 0;padding: 40px;}
.footerLeft .inner h2 {font-size: 30px;line-height: 50px;}
.footerRight {padding: 40px;background-color: #00010c;}
.rwd-device{display: none;}
.newFeature .features-left .features, .newFeature .features-right .features {margin-top: 25px;margin-bottom: 30px;}
.newFeature .features-left .features .icon-container, .newFeature .features-right .features .icon-container {min-height: 0;float: none;display: table;margin: 0px auto 25px;}
.fetaure-details {text-align: center;}
.copyright {position: relative;bottom: 0;margin: 45px 0 0 0;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/
#loginSignup {background: #fff;}
#loginSignup .modal-dialog {max-width: 100%;  margin: 0;}
#loginSignup .modal-content {border: 0;width: 100%;border-radius: 0;}
#loginSignup .content {width: 100%;}
#loginSignup .nav-pills {width: auto;}
#loginSignup .tab-content {width: 100%;padding: 30px 20px;border-radius: 35px;margin-bottom: 0;box-shadow: none;}
.theme-button {width: 100%;margin: 0 0 15px 0;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP ENDS ********************************************************************/


/*******************************************************  FORM WIZARD STARTS ********************************************************************/
.upperCircles {background: #f9f8fd;padding: 20px 0;}
.upperCircles .col-md-12 {padding: 0;}
.progressbar, .progressbar:after {width: auto;}
.mainFormWizard {padding: 0 0 60px 0;background: #ffffff;}
.sf-wizard {padding: 25px 0 !important;}
.sf-t3.sf-none .sf-viewport .sf-step, .sf-t3.sf-fade .sf-viewport .sf-step, .sf-t3.sf-slide .sf-viewport .sf-step {padding: 0 0 0 15px !important;}
.mCSB_inside>.mCSB_container {margin-right: 20px !important;}
.dropify-wrapper.touch-fallback .dropify-message {padding: 10px 0 !important;}
.dropify-wrapper .dropify-message p {padding: 0 15px !important;}
.socialLinksboxx li {padding: 15px;}
.socialLinksboxx li .titleSocial i {margin: 0 10px 0 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: 100%;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: 0;top: 30px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;}
#accordion .panel-title a {padding: 15px;font-size: 12px;}
#accordion .panel-title a:before, #accordion .panel-title a:after {width: 1px;top: 17px;right: 24px;}
#accordion .panel-title a:after {right: 18px;transform: rotate(45deg);}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {height: 40px;font-size: 13px;}
.addressBoxxxMain ul li span:nth-child(1) {color: #c5c2d0;float: none;width: auto;display: block;font-size: 13px;margin: 0 0 15px 0;}
.addressBoxxxMain ul li span:nth-child(2) {float: none;display: block;text-align: center;}
/*******************************************************  FORM WIZARD ENDS ********************************************************************/








}





@media (min-width: 150px) and (max-width: 479px) {
.slidelayout_02 .portfolio-style--3 {margin-top:0;}
.slidelayout_02 .texture_bg {padding:15px;}
.slidelayout_02 .portfolio-style--3 .content h4.title a {font-size:20px; margin:0 0 30px;}
.header_banners.second:before {content: "";position: absolute;background: #fff;height: 100%;width: 100%; }
.header_banners.second {padding: 0; }
.header_banners.second .img_part {position:relative;}
.header_banners.second .img_part img {position:absolute;left:0; top:20px; }
.header_banners.second .banner_context .banner_title .red {font-size:30px;}
.header_banners.second .banner_context .banner_bio {margin:20px 0;}
.header_banners.second .banner_context {background: #ffffff94;padding: 15px 20px;margin: 15px 0; }
.header_banners.first {padding: 0; }
.header_banners.first .banner_context {background: whitesmoke;margin: 15px 0;padding: 20px; }
.header_banners.first .banner_context .banner_title {font-size:22px;line-height:30px;}
.header_banners.third .banner_context {background: #fff;padding: 15px 20px; }
.header_banners.third {padding: 15px 0; }
.header_banners.third .innerBannerCont {margin: 0 !IMPORTANT; }
.header_banners.third .img_part {text-align: center; }
.header_banners.third .img_part img {position: relative;top: 20px;float: none;display: inline-block !important;width: 72% !important;right: 0px; }
.header_banners.third .banner_context p.head_style_1 {font-size: 30px;}
.header_banners.third .banner_context p.head_style_2 {font-size: 20px;}
.header_banners.third .banner_context p.sub_head {margin: 0 0 30px;}


	
	
.smallogo {box-shadow: none !important;}
.owl-theme .owl-controls .owl-buttons div {display: none !important;}
.top-bar .social-part {display: table;margin: 0 auto;}
.top-bar .contact-info-con {text-align: center; margin: 0 0 5px 0;}
#owl-demo .item .innerBannerCont {margin: 45px 0 ;position: relative;}
#owl-demo .item .innerBannerCont .gpshead {padding: 0;font-size: 24px;text-align: center;margin: 0 0 5px 0;line-height: 32px;}
#owl-demo .item .innerBannerCont .gpsCont {font-size: 14px;padding: 0;line-height: 18px;text-align: center;}
.customSlide {background: #f9f8fd;}
.customSlide .owl-theme .owl-controls {text-align: center !important;right: 0 !important;}
#owl-demo .item .gpsTop {text-align: center;padding: 0;}
#owl-demo .item .innerBannerCont .contBtn {text-align: center;margin: 0 0 40px 0;bottom: 65px;}
#owl-demo .item .innerBannerCont .contBtn .btnCustomStyle2 {padding: 8px 18px;}
.mainCounters {padding: 30px 0;}
.mainCounters .flash_on_boxx {padding: 25px 15px;margin: 0;}
.counter .count-number {font-size: 20px;margin: 15px 0 5px 0;}
.counter .count-text {font-size: 14px;}
.innerMillion h4 {margin: 15px 0 0 0;}
.innerMillion .my-5 {margin: 15px 0 45px 0 !important;}
.innerMillion .my-5 img {width: 100px;}
.PopularCategories .heading {font-size: 24px;}
.PopularCategories .discription {width: auto;font-size: 14px;}
.PopularCategories {padding: 0 0 50px 0;}
.PopularCategories .tab-slider--nav {margin:20px 0 0 0;}
.PopularCategories .tab-slider--tabs {margin: 0 auto;  }
.PopularCategories .tab-slider--trigger {  padding: 11px 15px;}
.portfolio-style--3 { margin-top: 15px;}
.portfolio-style--3 .content h4.title a {font-size: 18px;}
.portfolio-style--3 a.rn-btn {width: auto;}
.portfolio-style--3 .content {padding: 35px 15px;}
.portfolio-style--3 .content .portfolio-btn {margin-top: 35px;}
.view-more-btn {margin: 30px 0 0 0;}
.popular {padding: 35px 0;}
.popular .sideImg {display: none;}
.popular h2 {text-align: center; font-size: 24px;}
.border-sm-left{position: relative;border-left: 0;text-align: center;margin-left: 0 !important;padding-left: 0 !important;margin-top: 0 !important;font-weight: 300;color: #1d1111;}
.StepsBox {padding: 30px 0;}
.height-70 {height: 0;}
.StepsBox .heading {font-size: 24px;margin: 0 0 30px 0;}
.about-text ul li p {font-size: 14px;font-weight: 300;margin: 0;line-height: 24px;}
.newFeature {padding: 30px 0px 0 0px;}
.newFeature .features-left .features, .newFeature .features-right .features {margin-top: 25px;margin-bottom: 30px;}
.newFeature .heading {font-size: 24px;}  
.newFeature .discription {width: auto;font-size: 14px;margin: 0 auto;}
.newFeature .fetaure-details p {line-height: 24px;font-weight: 300;}
.newFeature .feature-phone-image {margin: 0 auto;}
.newFeature .features-left .features .icon-container, .newFeature .features-right .features .icon-container {min-height: 0;float: none;display: table;margin: 0px auto 25px;}
.fetaure-details {text-align: center;}
.footerLeft {padding: 30px;z-index: 2;margin-right: 0;border-top-right-radius: 40px;}
.footerLeft .inner h2 {font-size: 30px;font-weight: 900;line-height: 40px;margin: 0;}
.footerLeft .inner a.btnCustomStyle2 {margin: 15px 0 0 0;}
.footerRight {padding: 30px;}
.footerRight .footerLink h4 {margin: 10px 0 15px 0;}
.copyright {position: relative;bottom: 0;margin: 15px 0 0 0;}


/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/
#loginSignup {background: #fff;}
#loginSignup .modal-dialog {margin: 0;}
#loginSignup .modal-content {border: 0;width: 100%;border-radius: 0;}
#loginSignup .content {width: 100%;}
#loginSignup .nav-pills {width: auto;}
#loginSignup .tab-content {width: 100%;padding: 30px 20px;border-radius: 35px;margin-bottom: 0;box-shadow: none;}
#loginSignup .checkboxes.d-flex a {margin: 15px 0 0 0;}
#loginSignup .theme-button {width: 100%;margin: 0 0 15px 0;}
#loginSignup .checkboxes .privacy-policy, #loginSignup .checkboxes.d-flex a {font-size: 14px !important;width: 100%;}
/*******************************************************  MODAL BOX SIGN IN/SIGN UP STARTS ********************************************************************/



/*******************************************************  FORM WIZARD STARTS ********************************************************************/
.upperCircles {background: #f9f8fd;padding: 20px 0;}
.upperCircles .col-md-12 {padding: 0;}
.progressbar, .progressbar:after {width: auto;}
.mainFormWizard {padding: 0 0 60px 0;background: #ffffff;}
.sf-wizard {padding: 25px 0 !important;}
.sf-t3.sf-none .sf-viewport .sf-step, .sf-t3.sf-fade .sf-viewport .sf-step, .sf-t3.sf-slide .sf-viewport .sf-step {padding: 0 0 0 15px !important;}
.mCSB_inside>.mCSB_container {margin-right: 20px !important;}
.dropify-wrapper.touch-fallback .dropify-message {padding: 10px 0 !important;}
.dropify-wrapper .dropify-message p {padding: 0 15px !important;}
.socialLinksboxx li {padding: 15px;}
.socialLinksboxx li .titleSocial i {margin: 0 10px 0 0;}
.socialLinksboxx li .titleSocial {float: none;display: block;text-align: center;margin: 0 0 15px 0;}
.socialLinksboxx li .btnLinkright {float: none;display: block;text-align: center;}
.socialLinksboxx li .inputwithSubmit {float: none;width: auto;position: relative;display: block;}
.socialLinksboxx li .inputwithSubmit input {width: 100%;float: none;height: 30px;font-size: 12px;}
.socialLinksboxx li .inputwithSubmit button {right: 0;top: 30px;}
.socialLinksboxx li .nameWithCrossbtn {float: none;position: relative;width: auto;display: block;}
.socialLinksboxx li .nameWithCrossbtn span {line-height: 30px;display: block;}
.socialLinksboxx li .nameWithCrossbtn button {right: 0;}
#accordion .panel-title a {padding: 15px;font-size: 12px;}
#accordion .panel-title a:before, #accordion .panel-title a:after {width: 1px;top: 17px;right: 24px;}
#accordion .panel-title a:after {right: 18px;transform: rotate(45deg);}
.personalBoxxx .form-group .form-control, .businessInformation .form-group .form-control {height: 40px;font-size: 13px;}
.addressBoxxxMain ul li span:nth-child(1) {color: #c5c2d0;float: none;width: auto;display: block;font-size: 13px;margin: 0 0 15px 0;}
.addressBoxxxMain ul li span:nth-child(2) {float: none;display: block;text-align: center;}
/*******************************************************  FORM WIZARD ENDS ********************************************************************/






}
/********************************************************** CART STARTS *******************************************************/
.cartMainBoxx {position: relative;padding: 80px 0;background: #f9f8fd;}
.cartMainBoxx table {width: 100%;margin-bottom: 30px;}
.cartMainBoxx table th {font-weight: 600;color: #fff;background-color: #1D2228;}
.cartMainBoxx table th, .cartMainBoxx table td {padding: 15px;vertical-align: middle;}
.cartMainBoxx table td.remove {width: 30px;position: relative;}
.cartMainBoxx table td.remove .close-btn {border: 0;position: absolute;top: 30%;background-color: transparent;padding: 0;width: 30px;height: 30px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;cursor: pointer;outline: none;}
.cartMainBoxx table td.remove .close-btn.close-danger span {background-color: #f9004d;}
.cartMainBoxx table td.remove .close-btn span {position: absolute;width: 2px;height: 15px;display: block;background-color: #fff;opacity: 0.6;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;}
.cartMainBoxx table td.remove .close-btn span:nth-child(2) {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.cartMainBoxx table td.remove .close-btn:hover span {-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.cartMainBoxx table td.remove .close-btn:hover span:nth-child(2) {-webkit-transform: rotate(-90deg);-ms-transform: rotate(-90deg);transform: rotate(-90deg);}
.cartProductWrapper {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.cartProductWrapper img {width: 50px;margin-right: 15px;}
.cartProductBody {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.cartProductBody h6 {margin-bottom: 0;font-size: 16px;margin: 0;font-weight: 700;line-height: 28px;color: #1D2228;}
.cartProductBody h6 a {color: #1D2228;}
.cartProductBody p {margin-bottom: 0;font-size: 13px;line-height: 21px;color: #848486;}
.quantity {}
.quantity .instant-cart-manager { border-radius: 5px;}
.quantity .skin-1 .num-in span { width: 22px;}
.quantity .skin-1 .num-in input {font-size: 14px;}
.quantity .skin-1 .num-in span.plus:before, .quantity .skin-1 .num-in span.plus:after {width: 10px;}
.quantity .skin-1 .num-in span.minus:before {width: 10px;}
.cartMainBoxx table td {background-color: #ffffff;border-bottom: 1px solid #f2f2f3;}
.close-btn.close-danger span {background-color: #f9004d;}
.promoCode {}
.promoCode .form-group .form-control {padding: 12px 20px;border: 1px solid #e9edf1;height: 50px;}
.promoCode .form-group .form-control:focus {color: #495057;border: 1px solid #a5a5a5;background-color: #fff;outline: 0;box-shadow: none;}
.input-group-append .btn-custom {cursor: pointer;display: inline-block;text-align: center;white-space: nowrap;vertical-align: middle;position: relative;background-color: #f9004d;line-height: 24px;border: 0;color: #fff;font-size: 14px;font-weight: 600;padding: 12px 30px;-webkit-transition: 0.3s;-o-transition: 0.3s;transition: 0.3s;text-transform: uppercase;border-radius: .25rem;z-index: 1;}
.input-group-append .btn-custom, .input-group-append .btn-custom::before {border-top-left-radius: 0;border-bottom-left-radius: 0;}
.cartForm {margin-top: 50px;}
.cartForm h4 {font-size: 26px;line-height: 32px;margin: 0 0 20px;font-weight: 700;color: #1D2228;}

@media (max-width: 768px){
.innerMillion .owl-pagination {right: 0; }
.header-slider .four img {height: auto !important; }
.cartMainBoxx {padding: 40px 0;}
.cartMainBoxx table td.remove {width: auto;height: 50px;}
.ct-responsive-table thead {display: none;}
.ct-responsive-table tr {border-bottom: 1px solid rgba(0, 0, 0, 0.1);}
.ct-responsive-table td {position: relative;display: block;width: 100%;border-top: 0;text-align: right;padding: 10px;border-bottom: 0 !important;}
.ct-responsive-table td::before {content: attr(data-title) "";font-weight: 700;float: left;}
.ct-responsive-table .cartProductWrapper {-webkit-box-orient: horizontal;-webkit-box-direction: reverse;-ms-flex-direction: row-reverse;flex-direction: row-reverse;padding: 0;}
.ct-responsive-table .cartProductWrapper img {margin-right: 0;margin-left: 10px;}
.ct-responsive-table tr.total {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
}
.ct-responsive-table tr.total td {
 width: auto;
 text-align: left;
}


}
.left_aside { margin-left: auto;}

/********************************************************** CART ENDS *******************************************************/