/*************desktop 2***************/
@media only screen and (max-width: 1280px) and (min-width: 1024px){
.wsmain {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
}
}
@media (max-width:1280px) {}

/**************desktop 3*************/
@media (max-width:1024px) {}

/**************tab devices range************/
@media (max-width:991px) {
li.new_prof_dropdown:hover>.megamenu { visibility:none;opacity:0;    visibility: hidden !important;     opacity: 0 !important; }
}

/************mobile devices************/
@media (max-width:420px) {}

/*******extra small mobile devices**********/
@media (max-width:375px) {
.outer_card {     max-width: 300px; }
}