.form-group label{   font-weight: bold;   color: black; }
.form-group.required label:after {   content:"*";   color:red; }
.classdescription {     margin-left: 10px;     display: none;     position: absolute;     top: 35px;     left: 0; 	z-index: 2;     margin: 0; }
.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}
.diff_card { 	overflow:hidden;     border-radius: 5px;     box-shadow: 0 0 20px #0000002e;     margin-bottom: 30px; }
.bill_stack {     margin: 20px 0;     padding:0;     border-radius: 15px;     box-shadow: 0 0 20px #0000002e; }
.diff_card h4 {     background: #3c3c3c;     color: #fff;     padding: 10px 20px;     margin: 0;     font-size: 20px;}
.diff_card table {     margin: 0 !IMPORTANT; }
.diff_card table {     margin: 0 !IMPORTANT;     padding: 0 20px; }
.diff_card .price_tag {     margin: 0; }
.diff_card input[type=color] {     outline: none;     border: none;     width: 40px;     height: 22px;     padding: 0;     background: none;     border-radius: 100px; }
.thumbnail {     max-width: 150px;     max-height: 200px; }
.thumbnail_logo {     max-width: 100px;     max-height: 100px; }
.diff_card table tbody tr td {     padding: 12px 0 !IMPORTANT; text-align: initial !important;}
.diff_card table tbody tr td:last-child {text-align:right !important;}
.diff_card table tbody tr td strong {     font-weight: 500; 	color: #3c3c3c; }
.diff_card table tbody tr td strong {     font-weight: 500;     color: #000; 	text-transform: capitalize; }
.diff_card table tbody tr td
.diff_card table tbody tr td a {     color: inherit; }
.diff_card table tbody tr td .attache {     color: #2196F3; }
.bill_stack .total_list {margin:0;}
.bill_stack .total_list .price_tag {margin:0;    color: #3c3c3c;}
.bill_stack table {     margin: 0 !important;     /* padding: 0 10px; */ }
.bill_stack .details-order h4 {   font-size: 20px;   background: #3c3c3c;     border-radius: 0;     color: #fff;     padding: 10px;     margin:0; }
.bill_stack table.dataTable tbody tr td {     padding: 5px 10px !IMPORTANT;     text-align: inherit !important;}
.bill_stack table.dataTable tbody tr td:last-child {text-align:right !important;}
.bill_stack table.dataTable tbody tr.ttl td {     padding: 10px !IMPORTANT; }
.bill_stack table.dataTable tbody tr td strong {     font-weight: 500;     color: #000000; }
.bill_stack table.dataTable tbody tr.ttl td h3 {font-size:20px;}
.bill_stack table.dataTable tbody tr.ttl {background:#e5e5e5 !important;}
.process_btn {     width: 60%;     display: block;     margin: 20px auto;     text-transform: capitalize;     font-size: 16px;     letter-spacing: 1px;     font-weight: 600;     border: none;     background: #3c3c3c;     color: #fff;     padding: 10px;     border-radius: 100px; }
.process_btn:hover {    background: #560663; color: #ffffff;}
.prefix {     font-size: 16px;     vertical-align: super; }
.order_num { font-size: 28px;    text-align: center;     color: #ffffff;     margin: 0;     padding: 60px 0;     background-image: linear-gradient(to right, #9c27b0 , #000); }
.order_num  .digits {     display: inline-block;     font-size: 28px;     background: #fff;     color: #3c3c3c;     border-radius: 100px;     padding: 10px 6px; 	box-shadow: inset 0 0 6px #000000c7;}
.d_tail_header ul {     list-style: none;     padding: 10px 0px;     margin: 10px 0;       border-right: none;     border-left: none; }
.d_tail_header ul li {     display: inline-block;     vertical-align: -webkit-baseline-middle; }
.d_tail_header ul li h4 {     font-size: 16px;     color: #000000;     font-weight: 500;     float: left;     margin: 0;     line-height: 24px; }
.d_tail_header ul li p {   float:right;     margin: 0; }
.diff_card input[type=color]::-webkit-color-swatch {     border: none;     border-radius: 100px; }
.diff_card table tbody tr td.values {     float: right;     width: 100%;     display: block; }
.diff_card .values .price_tag {     display: inline-block; }
.diff_card .values input[type=color] {     display: inline-block; }
.workspace.orderDiv {     padding: 30px 0; }
.d_tail_header ul li.etc_opt {     float: right; }
.d_tail_header ul li.etc_opt .search_set {     float: left; }
.d_tail_header ul li.etc_opt .more_opts {     float: left; }
.search_set input {     border-radius: 100px 0 0 100px;     border: 1px solid #ccc;     margin: 0;     border-right: none;     font-size: 14px;     padding: 4px 15px; }
.drop_link {     display: block;     color: #000;     line-height: 30px;     border-left: 1px solid #adadad;     padding: 0 0 0 10px;     margin: 0 0 0 10px; }
.d_tail_header ul li p i {     margin: 0 5px;     border-right: 1px solid #3c3c3c;     padding: 0 5px; }
.drop_link:hover {text-decoration:none; color:#3c3c3c;}
.drop_link:after {}
.search_set button {     margin-left: -5px;     border: 1px solid #ccc;     border-radius: 0 100px 100px 0;     font-size: 16px;     padding: 2px 10px 3px;     border-left: none;     background: #fff;     vertical-align: top; }
.add_new_data {     background: #ffffff !important;     box-shadow: none !IMPORTANT;     border: none;     text-transform: capitalize;     float: right;     margin: 0;     position: absolute;     top: -60px; 	font-size:14px;     right: 30px;     font-weight: 500;     z-index: 111;     color: #3c3c3c !IMPORTANT; }
.dataTable thead tr th:nth-child(1) {     width: 50px !important; }
.dataTable tbody tr td:nth-child(1) {     text-align:center; }
.dataTable tbody tr td .edit:before {     content: '\f040';     font-family: 'FontAwesome';     color: white;     z-index: 55555;     font-size: 18px;     display: block; }
.dataTable tbody tr td .delete:before {     content: '\f1f8';     font-family: 'FontAwesome';     color: white;     z-index: 55555;     font-size: 18px;     display: block; }
.add_new_data i {     margin-left: 10px; }
.dataTable thead tr th:last-child {     text-align: center; }
.dataTable  tbody tr td:last-child {text-align:center;}
.dataTable  thead tr th:last-child {     border-right: none; }
.dataTable  tbody tr td:nth-child(6), .dataTable  tbody tr td:nth-child(4) {     text-align: center; }
.dataTable  thead tr th:before, .dataTable  thead tr th:after {     top: 5px;     opacity: 1 !IMPORTANT; }
.dataTable  thead tr th {      font-size: 14px;  border: none;    border-right: 1px solid;     background: #3c3c3c; color: #fff;     font-weight: 500; }
.dataTable tbody tr td .edit {     background: #3c3c3c;     border: none;     box-shadow: none;     font-size: 0; }
.dataTables_paginate ul li {     position: relative; }
.dataTables_paginate ul li.paginate_button:hover {     background: transparent !important;     border: none !important; }
.dataTables_paginate ul li.paginate_button:hover a {     background: #3c3c3c;     color: #fff;     border: 1px solid #3c3c3c; }
.dataTables_paginate ul li.previous:before {     content: '\f104';     left: 0;     position: absolute;     top: 15%;     font-size: 22px;     font-family: 'FontAwesome'; }
.dataTables_paginate ul li.next:after {     content: '\f105';     right: 0;     position: absolute;     top: 15%;     font-size: 22px;     font-family: 'FontAwesome'; }
.dataTable  tbody tr td .edit:hover {background:#000;}
.dataTable  tbody tr td .delete {    font-size: 0; background: #c00000;     border: none;     box-shadow: none; }
.custom_sidebar ul li a i {     font-size: 20px !important;     line-height: 22px !IMPORTANT;     color: #3c3c3c !IMPORTANT; }
.side_dropdown ul {     margin: 0 15px 0 0 !important;     border-top: 1px solid #ddd;     padding: 10px 65px!important;     border-bottom: 1px solid #ddd; }
.side_dropdown ul li:before {     content: '\f0da';     font-family: 'FontAwesome';     position: absolute; }
.side_dropdown ul li {     position: relative;border: none !important; }
.custom_sidebar ul li a {     color: #3c3c3c !IMPORTANT; 	    font-weight: 500;     font-size: 14px !IMPORTANT; }
.custom_sidebar ul li a:hover, .custom_sidebar ul li a:hover i{color:#000 !Important;}
.custom_sidebar ul li.active a {color:#fff !important; background:#3c3c3c !Important; box-shadow:none !Important; border:none !Important;}
.custom_sidebar ul li.active a i {color:#fff !important; }
.creation_form_outer {margin:0 !important;}
.create_header {     margin: 15px;     background: #3c3c3c;     color: #fff;     padding: 40px;     text-align: center; }
.create_header p {     margin: 0;     font-family: 'roboto';     font-size: 28px;     font-weight: 400; }
.content form label {      font-size: 14px;   font-weight: 500;     color: #3c3c3c;     font-family: 'Roboto';     text-transform: capitalize; }
.card-header.card-header-primary {background:#3c3c3c !important;     box-shadow: 0 0 10px #0000009e !important;}
.main-panel>.content {margin-top:10px !important; padding: 0 15px !important;}
.content form input[type=text], .content form input[type=number], .content form input[type=mail], .content form input[type=password], .content form select {     border: 1px solid #ddd;     border-radius: 0; }
.content form input[type=file] { 	 border: 1px solid #ddd;     border-radius: 0; }
.content form input[type=file]::-webkit-file-upload-button {     background: #3c3c3c;     border: 0;     float: right;     color: #fff;     font-size: 15px;     margin: 0; }
.content form input[type=file]:hover {cursor:pointer;}
.content form textarea {     border: 1px solid #ddd;     border-radius: 0; 	resize:none; }
span.select2-selection.select2-selection--multiple {     border-radius: 0;      padding-bottom: 10px;   border: 1px solid #ddd !important; }

/******switch****/
.custom_swicth {     position: relative; 	display:inline; }
.switch {     position: relative;     top: 0px;     left: 0px;     width: 90px;     height: 20px;     text-align: center;     margin: 0;     background: #4cd964;     transition: all 0.2s ease;     border-radius: 25px; }
.switch span {     position: absolute;     width: 20px;     height: 4px;     top: 50%;     left: 50%;     margin: -2px 0px 0px -4px;     background: white;     display: block;     transform: rotate(-45deg);     transition: all .2s ease;     border-radius: 2px; }
.switch span:after {       content: "";       display: block;       position: absolute;       width: 4px;       height: 12px;       margin-top: -8px;       background: white;       transition: all .2s ease;       border-radius: 2px; }
.custom_swicth input[type=radio] {   display: none; }
.switch label {   cursor: pointer;   color: rgba(#000, .2);   width: 60px;   font-size:12px;   line-height: 50px;   transition: all 0.2s ease; }
.switch label.yess {     position: absolute;     left: -8px;     height: 20px;     top: -14px; }
.switch label.nope {     position: absolute;     right: -13px;     top: -14px; }
.switch label:after {     display: none; }
.input_no:checked ~ .switch {     background: #ff3b30; }
.input_no:checked ~ .switch span {     background: white;     margin-left: -8px; }
.input_no:checked ~ .switch span:after {       background: white;       height: 20px;       margin-top: -8px;       margin-left: 8px; }
.input_yes:checked ~ .switch label.yess {   color: white; }
.input_no:checked ~ .switch label.nope {   color: white; }
/******switch****/

/**********image uploader*********/
.file-upload {     background-color: #ffffff;     width: 100%;     margin: 0 auto;     padding: 0; }
.file-upload-btn {   width: 100%;   margin: 0;   color: #fff;   background: #1FB264;   border: none;   padding: 10px;   border-radius: 4px;   border-bottom: 4px solid #15824B;   transition: all .2s ease;   outline: none;   text-transform: uppercase;   font-weight: 700; }
.file-upload-btn:hover {   background: #1AA059;   color: #ffffff;   transition: all .2s ease;   cursor: pointer; }
.file-upload-btn:active {   border: 0;   transition: all .2s ease; }
.file-upload-content {   display: none;   text-align: center;   margin-top: 0;   border: 1px dashed #ddd; }
.file-upload-input {   position: absolute;   margin: 0;   padding: 0;   width: 100%;   height: 100%;   outline: none;   opacity: 0;   cursor: pointer; }
.image-upload-wrap {     margin-top: 0;     border: 1px dashed #ddd;     position: relative; }
.image-dropping, .image-upload-wrap:hover {   background-color: #ddd;   border: 1px dashed #000; }
.image-title-wrap {   padding: 0 15px 15px 15px;   color: #222; }
.drag-text {   text-align: center; }
.drag-text h3 {     font-weight: 100;     text-transform: capitalize;     color: #3c3c3c;     padding: 60px 0;     font-family: 'Roboto';     font-size: 16px;     margin: 0; }
.file-upload-image {   max-height: 200px;   max-width: 200px;   margin: auto;   padding: 20px; }
.remove-image {     width: 200px;     margin: 0;     color: #fff;     background: #cd4535;     border: none;     padding: 10px;     border-radius: 0px;     transition: all .2s ease;     outline: none;     text-transform: inherit;     font-weight: 500; }
.remove-image i {     font-size: 24px; }
.remove-image:hover {   background: #c13b2a;   color: #ffffff;   transition: all .2s ease;   cursor: pointer; }
.remove-image:active {   border: 0;   transition: all .2s ease; }
/*********image uploader end*********/

/******custom checkox****/
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {   position: absolute;   display: inline-block;   width: 0;   height: 2rem;   margin-left: 5px;   content: '';   -webkit-transform-origin: 0 0;           transform-origin: 0 0;   background: #fff; }
.chiller_cb {   position: relative;   display: -webkit-inline-box;   display: -ms-inline-flexbox;   display: inline-flex;   width: 200px;   border: none;   background-color: none;   height: 2rem;   -webkit-box-align: center;       -ms-flex-align: center;           align-items: center; }
.chiller_cb input {     display: none; }
.chiller_cb input:checked ~ span {       border-color: none;       background: none; }
.chiller_cb input:checked ~ span:before {         width: 1rem;         height: .15rem;         -webkit-transition: width .1s;         transition: width .1s;         -webkit-transition-delay: .3s;                 transition-delay: .3s; background:#fff;				}
.chiller_cb input:checked ~ span:after {         width: .4rem;         height: .15rem;         -webkit-transition: width .1s;         transition: width .1s;         -webkit-transition-delay: .2s;                 transition-delay: .2s; 				background:#fff;	}
.chiller_cb input:disabled ~ span {       border-color: #8f49fa;       background: #8f49fa; }
.chiller_cb input:disabled ~ label {       color: #8f49fa; }
.chiller_cb input:disabled ~ label:hover {         cursor: default; }
.chiller_cb label {     position: relative;     z-index: 2;     margin-bottom: 0;     padding-left: 0; 	text-align:center;     width: 100%;     cursor: pointer;     color: #fff; 	    padding: 7px;     border: 1px solid #ddd;}
.chiller_cb span {     position: absolute;     z-index: 100;     left: 0;     display: inline-block;     -webkit-box-sizing: content-box;             box-sizing: content-box;     width: 1.2rem;     height: 1.2rem;     -webkit-transition: all .2s;     transition: all .2s;     border: none;     background: none; }
.chiller_cb span:before {       top: 1rem;       left: .37rem;       -webkit-transform: rotate(-55deg);               transform: rotate(-55deg); }
.chiller_cb span:after {       bottom: .35rem;       left: .2rem;       -webkit-transform: rotate(35deg);               transform: rotate(35deg); }
.chiller_cb input:checked ~ label {background-color:#3c3c3c !Important;    color: #fff;}
/*****custom checkbox end******/

.submit_btn_new {     border-radius: 0;     background: #3c3c3c !IMPORTANT;     border: 1px solid #3c3c3c !Important;     box-shadow: none !important; 	padding: 5px 20px;     text-transform: capitalize; }
.submit_btn_new:hover {     border-radius: 0;     background: #fff !IMPORTANT;     border: 1px solid #3c3c3c;     box-shadow: none !important; 	color:#3c3c3c !Important; }

/**********custom select*********/
select.minimal {   background-image:     linear-gradient(45deg, transparent 50%, gray 50%),     linear-gradient(135deg, gray 50%, transparent 50%),     linear-gradient(to right, #ccc, #ccc);   background-position:     calc(100% - 20px) calc(1em + 2px),     calc(100% - 15px) calc(1em + 2px),     calc(100% - 2.5em) 0.5em;   background-size:     5px 5px,     5px 5px,     1px 1.5em;   background-repeat: no-repeat; }
select.minimal:focus {   background-image:     linear-gradient(45deg, green 50%, transparent 50%),     linear-gradient(135deg, transparent 50%, green 50%),     linear-gradient(to right, #ccc, #ccc);   background-position:     calc(100% - 15px) 1em,     calc(100% - 20px) 1em,     calc(100% - 2.5em) 0.5em;   background-size:     5px 5px,     5px 5px,     1px 1.5em;   background-repeat: no-repeat;   border-color: green;   outline: 0; }
select:-moz-focusring {   color: transparent;   text-shadow: 0 0 0 #000; }
/*********custom select end******/

/**********custom number arrow**********/
.quantity {     position: relative;     float: left;     width: 100%; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {   -webkit-appearance: none;   margin: 0; }
input[type=number] {   -moz-appearance: textfield; }
.quantity input {   width: 100%;   height: 41px;   line-height: 1.65;   float: left;   display: block;   padding: 0;   margin: 0;   padding-left: 20px;   border: 1px solid #eee; }
.quantity input:focus {   outline: 0; }
.quantity-nav {   float: left;   position: relative;   height: 40px; }
.quantity-button {   position: relative;   cursor: pointer;   border-left: 1px solid #3c3c3c;   border-right: 1px solid #3c3c3c;   width: 20px;   text-align: center;   color: #fff;   font-size: 13px;   font-family: "Trebuchet MS", Helvetica, sans-serif !important;   line-height: 1.7;   -webkit-transform: translateX(-100%);   transform: translateX(-100%);   -webkit-user-select: none;   -moz-user-select: none;   -ms-user-select: none;   -o-user-select: none;   user-select: none;   background: #3c3c3c; }
.quantity-button.quantity-up {   position: absolute;   height: 50%;   top: 0;   border-top: 1px solid #3c3c3c;   border-bottom: 1px solid #fff; }
.quantity-button.quantity-down {   position: absolute;   bottom: 0px;   height: 50%;   border-bottom: 1px solid #3c3c3c; }
/**************custom number arrow end***********/

.required .custom-control.custom-switch {     position: relative;     width: auto;     display: inline-block; }
.required .custom-control.custom-switch:after {     content: '*';     color: red; }
.form-group .custom-switch label:before {     top: 2px; }
.form-group.required .custom-switch label:after {     content: ''; }
.form-group .custom-switch label:after {     top:4px; }
.half_part {     float: left;     width: 48%;     margin: 0 20px 0 0; }
.servicesdiv, .no_gallerydiv {     background: #f1f1f1;     margin: 5px 0;     padding: 5px 15px;     border-radius: 5px;}
.servicesdiv label, .no_gallerydiv label {     font-size: 14px; }
.servicesdiv input, .no_gallerydiv input {     width: 55%; }
.servicesdiv .form-group, .no_gallerydiv .form-group {     margin: 0;     padding: 10px 15px 0; }
.border-red{ 	border-color:red!important; }
.error{ 	color:red; }
/* toast*/
.custom_toast {     margin: 0 0 0 auto;     position: absolute;     width: 100%;     z-index: 5;     top: 50px;     right: 10px; }
.toast-header{   float: right; }

.creation_form_outer .chiller_cb {display:inline-block !important} 
/*end*/

/*loader*/
@keyframes spin {
	to { transform: rotate(1turn); }
}

.loader {
	display: inline-block;
  	position: relative;
	width: 5em;
	height: 5em;
	margin: 0 .5em;
	font-size: 12px;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
	z-index: 9999;
}

.large.loader {
	font-size: 24px;
}

.loader:before,
.loader:after,
.loader > div:before,
.loader > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}

.loader:before {
	background: #555;
}

.loader:after {
	transform: rotate(-45deg);
	background: #777;
}

.loader > div:before {
	transform: rotate(-90deg);
	background: #999;
}

.loader > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}
/* end */