.up-images .file {
    visibility: hidden;
    position: absolute;
}
.hidden{
    display: none;
}
.error{
    color:red;
    font-size: 12px;
}



.input-group .error {
    position: inherit;
    left: 0;
    top: 2px;
    z-index: 9999;
    width: 100%;
    display: table-footer-group;
}
.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.loading {
    position: fixed;
    z-index: 9999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(203, 255, 231, 0.3);
}
.loading::before {
    background-color: rgba(255, 255, 255, 0.7);
}
.switch input {
    display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;
}
.table-responsive .table-bordered tbody tr td {
    border: 1px solid #D1EAF4 !important;
}
input:checked + .slider {
    background-color: #4bb361;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3) inset !important;
}
.slider.round {
    border-radius: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d0d0d0;
    box-shadow: -2px 2px 4px rgba(0,0,0,0.3) inset !important;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px 0px 10px;
}

/*.radio-button {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
}*/
.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 0.3rem;
    transition: transform 300ms ease;
}
.radio-button:checked + .radio-tile {
    background-color: #56A5EC;
    border: none !important;
    color: white !important;
    transform: scale(1.1, 1.1);
}