
/* Aurthor: Hardeep Singh */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL */
::-moz-selection { color: #f1f1f1;background: #f0394d; }
::selection { color: #f1f1f1;background: #f0394d; }



body  {font-family: 'Poppins', sans-serif;background: #f7d807;}
.wrapper {width: 400px;margin: 0 auto;height: 800px;background: #fff;}

.TopBlankbox {    background: #0163d2;
    /* visibility: hidden; */
    padding: 40px;
    height: 110px;}




.mainbody {
    background: #fff;
    padding: 20px 40px 0 40px;
    border-radius: 36px 36px 0 0;
    height: 100%;
    margin: -30px 0 0 0;
}


.logoMainBox {}
.logoMainBox .companyPic {    width: 250px;
    margin: -70px auto 20px auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #eff6fc;
    box-shadow: 0 10px 26px rgb(167 167 167 / 10%);
    background: #fff;}
.logoMainBox .companyPic img {}
.logoMainBox h1 {    font-size: 24px;
    color: #000333;
    margin: 0;
    font-weight: 700;}
.logoMainBox p {    font-size: 16px;
    color: #babdc4;
    margin: 0;}




.proprietorName {    margin: 20px 0 0 0;}
.proprietorName ul {       padding: 20px; margin: 0;
    background: #eff6fc;
    border-radius: 10px;}
.proprietorName ul li {margin: 0 0 15px 0;}
.proprietorName ul li:last-child {margin: 0;}

.proprietorName ul li .titleName {    margin: 0;
    display: inline-block;
    width: 70%;
    height: 34px;
    line-height: 36px;
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #000333;}
.proprietorName ul li .calling { margin: 0;   display: inline-block;
    width: 30%;
    float: left;     text-align: right; }
.proprietorName ul li .calling a {    display: inline-block;
    padding: 5px 12px;
    background: #f7d807;
    color: #000333;
    font-weight: 600;
    border-radius: 10px;
}
.proprietorName ul li .calling a i {}




.serviceoffersBox {    margin: 20px 0 0 0;}
.serviceoffersBox .row {    margin-right: -7.5px;
    margin-left: -7.5px;}
.serviceoffersBox .row .col-md-6 {padding-right: 7.5px;
    padding-left: 7.5px;}
.serviceoffersBox h2 {font-size: 16px;font-weight: 600;color: #000333;}
.serviceoffersBox .user-card {    background: #eff6fc;
    border-radius: 10px;
    padding: 15px 0;
    margin: 0 0 15px 0;}
.serviceoffersBox .user-card p {}
.serviceoffersBox .user-card p img {}
.serviceoffersBox .user-card h4 {font-size: 12px;text-align: center;font-weight: 600;color: #000333;}



.socialMediaIcons {}
.socialMediaIcons ul{    margin: 0 auto;
    display: table;}
.socialMediaIcons ul li {    display: inline-block;
    margin: 0 5px;
    padding: 2px;
    background: #f7d807;
    border-radius: 50px;}
.socialMediaIcons ul li a {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    background: #f7d807;
    color: #000333;
    border: 2px solid #ffffff;
}
.socialMediaIcons ul li a .fa {
    font-size: 26px;
}

.socialMediaIcons ul li a .fa:hover {
    opacity: 0.7;
}









/* Media Queries */

@media (min-width: 992px) and (max-width: 1199px) {


}

@media (min-width: 768px) and (max-width: 991px) {



}



@media (min-width: 480px) and (max-width: 767px) {

}





@media (min-width: 150px) and (max-width: 479px) {


}