
/* Aurthor: Hardeep Singh */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* GLOBAL */
::-moz-selection { color: #f1f1f1;background: #f0394d; }
::selection { color: #f1f1f1;background: #f0394d; }



body  {font-family: 'Poppins', sans-serif;background: #ff3b3c;}
.wrapper {width: 400px;margin: 0 auto;height: 800px;background: #fff;}

.leftSide {    width: 75%;
    float: left;
    height: 100%;
    background: #070709;}
.leftSide .mainBgimg {}
.leftSide .mainBgimg img {width: 100%;}

.profilePicBoxx {padding: 0 15px;    margin: 15px 0;}
.profilePicBoxx:after {display: block;
    clear: both;
    content: "";}
.profilePicBoxx .userImg {    width: 75px;
    height: 75px;
    border: 4px solid #505050;
    float: right;
    border-radius: 100px;}
.profilePicBoxx .userImg img {border-radius: 100px;}
.profilePicBoxx .propNameDesignation {padding: 15px 90px 0 0;text-align: right;}
.profilePicBoxx .propNameDesignation h3 {color: #fff;font-size: 16px;}
.profilePicBoxx .propNameDesignation p {color: #797979;font-size: 14px;}


.abtSec {    padding: 0 15px;
    text-align: right;}
.abtSec h4 {    color: #ff3b3c;
    font-size: 16px;
    text-transform: uppercase;}
.abtSec p {    margin: 0;
    font-size: 13px;
    color: #797979;}

.galleryBoxx {text-align: right;padding: 0 15px;    margin: 15px 0;}
.galleryBoxx h4{color: #ff3b3c;
    font-size: 16px;
    text-transform: uppercase;}
.galleryBoxx ul {    margin: 0;}
.galleryBoxx ul li {margin: 0 4px;display: inline-block;border-radius: 8px;}
.galleryBoxx ul li:last-child {margin-right: 0;}
.galleryBoxx ul li img{border-radius: 8px;width: 100%;}

.contactBoxx {text-align: right;padding: 0 15px;}
.contactBoxx h4 {color: #ff3b3c;
    font-size: 16px;
    text-transform: uppercase;}
.contactBoxx a {color: #797979;}



.rightSide {    width: 25%;
    float: left;
    position: relative;
    height: 100%;}
.socialMediaIcons {text-align: center;margin: 75px 0 0 0;}
.socialMediaIcons h5 {    font-size: 15px;
    color: #797979;
    padding: 0 10px;}
.socialMediaIcons ul{    margin: 0 auto;
    display: table;}
.socialMediaIcons ul li {    display: inline-block;
    margin: 5px;
    background: #f7d807;
    border-radius: 50px;}
.socialMediaIcons ul li a {  
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
background: #151419;
    color: #c8c8c8;
    border: 2px solid #ff3b3c;
}
.socialMediaIcons ul li a .fa {
    font-size: 26px;
}

.socialMediaIcons ul li a .fa:hover {
    opacity: 0.7;
}

.webLink {  
    background-color: white;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin: 0;
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;}












/* Media Queries */

@media (min-width: 992px) and (max-width: 1199px) {


}

@media (min-width: 768px) and (max-width: 991px) {



}



@media (min-width: 480px) and (max-width: 767px) {

}





@media (min-width: 150px) and (max-width: 479px) {


}